@media screen and (min-device-width: 992px) {
    .container {
        width: 1204px;
    }
}

@media screen and (max-device-width: 992px) {
	html, body {
		overflow-x: hidden
  	}
}

a {
    text-decoration: none;
}

.black {
    .custom-cursor {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        opacity: 0;
    }

    /* decorative */
    .custom-cursor {
        width: 50px;
        height: 50px;
        border: 2px solid #000000;
        border-radius: 50%;
    }
}

.white {
    .custom-cursor {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        opacity: 0;
    }

    /* decorative */
    .custom-cursor {
        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
    }
}

.buttons {
    height:30vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.magnetic {
    padding:15px 30px;
    font-size:1.2em;
    border-radius:5px;
}


