footer {
    width: 100%;
    padding-bottom: 82px;
    padding-top: 73px;

    background: #313131;
    border-radius: 60px 60px 0 0;

    a, p {
        font-family: 'GraphikLCG-Regular', sans-serif;
        font-size: 18px;
        line-height: 18px;

        color: #F5F5F5;
    }

    //.line {
    //    width: 100%;
    //    height: 10px;
    //
    //    margin-bottom: 63px;
    //
    //    background: #666666;
    //    border-radius: 8px;
    //}

    .logo {
        margin-bottom: 40px;

        img {
            width: auto;
            height: 106px;
        }
    }

    .social {
        height: max-content;
        margin-bottom: 115px;

        a {
            font-size: 48px;
            line-height: 48px;
            color: #F5F5F5;

            margin-right: 30px;
        }
    }

    .big-txt {
        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 22px;
        line-height: 22px;

        color: #F5F5F5;

        margin-bottom: 30px;
    }

    .uslugi {
        a, p {
            margin-bottom: 30px;
        }

        .last {
            margin-bottom: auto;
        }

        .presentation {
            margin-bottom: 0;
        }
    }

    .num {
        font-family: 'GraphikLCG-Regular', sans-serif;
        font-size: 24px;
        line-height: 24px;

        color: #F5F5F5;

        margin-bottom: 15px;
    }

    .order-callback {
        font-family: 'GraphikLCG-Regular', sans-serif;
        font-size: 16px;
        line-height: 16px;

        color: #F5F5F5;

        margin-bottom: 50px;
    }
}

@media screen and (max-device-width: 992px) {
    footer {
        border-radius: 30px 30px 0 0;
        padding-top: 70px;
        padding-left: 40px;
        padding-bottom: 70px;

        .big-txt {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 25px;
        }

        .num {
            font-size: 20px;
            line-height: 20px;
        }

        .order-callback {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 70px;
        }

        .contact {
            margin-bottom: 70px;
        }

        .uslugi {
            margin-bottom: 70px;

            .last {
                margin-bottom: 30px;
            }
        }

        .social {
            margin-bottom: 40px;

            a {
                font-size: 40px;
            }
        }

        .logo {
            margin-bottom: 0;

            img {
                width: 160px;
                height: 60px;
            }
        }
    }
}
