.nav-white {
    padding-top: 30px;
    padding-bottom: 30px;

    .navbar-toggler {
        i {
            font-size: 34px;
            color: #F5F5F5;
        }

        border: none !important;

        box-shadow: none;
    }

    .navbar-brand {
        padding: 0;

        img {
            width: auto;
            height: 68px;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-right: 30px;

            .nav-link {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 16px;
                line-height: 16px;

                padding: 0;

                color: #D7D7D7;
            }
        }
    }

    .send-request {
        width: 180px;
        height: 48px;

        background: #1C54FC;
        border: 1px solid #1C54FC;
        border-radius: 8px;
        transition: 0.2s;

        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #FFFFFF;

        &:hover {
            color: #FFFFFF;
            background: transparent;
            border: 1px solid #FFFFFF;
            transition: 0.2s;
        }
    }
}

.nav-dark {
    padding-top: 30px;
    padding-bottom: 30px;

    .navbar-toggler {
        i {
            font-size: 34px;
            color: #313131;
        }

        border: none !important;

        box-shadow: none;
    }

    .navbar-brand {
        padding: 0;

        img {
            width: auto;
            height: 68px;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-right: 30px;

            .nav-link {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 16px;
                line-height: 16px;

                padding: 0;

                color: #666666;
            }

            .dropdown-menu-dark {
                background-color: #313131;
            }
        }
    }

    .send-request {
        width: 180px;
        height: 48px;

        background: #1C54FC;
        border: 1px solid #1C54FC;
        border-radius: 8px;
        transition: 0.2s;

        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #FFFFFF;

        &:hover {
            color: #000000;
            background: transparent;
            border: 1px solid #000000;
            transition: 0.2s;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .nav-white {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 50px;
                        //text-align: right;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .nav-dark {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 50px;
                        //text-align: right;
                    }
                }
            }
        }
    }
}
