@media screen and (min-device-width: 992px) {
  .container {
    width: 1204px;
  }
}
@media screen and (max-device-width: 992px) {
  html, body {
    overflow-x: hidden;
  }
}
a {
  text-decoration: none;
}

.black {
  /* decorative */
}
.black .custom-cursor {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}
.black .custom-cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.white {
  /* decorative */
}
.white .custom-cursor {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}
.white .custom-cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.buttons {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.magnetic {
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
}

.nav-white {
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav-white .navbar-toggler {
  border: none !important;
  box-shadow: none;
}
.nav-white .navbar-toggler i {
  font-size: 34px;
  color: #F5F5F5;
}
.nav-white .navbar-brand {
  padding: 0;
}
.nav-white .navbar-brand img {
  width: auto;
  height: 68px;
}
.nav-white .navbar-nav .nav-item {
  margin-right: 30px;
}
.nav-white .navbar-nav .nav-item .nav-link {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  color: #D7D7D7;
}
.nav-white .send-request {
  width: 180px;
  height: 48px;
  background: #1C54FC;
  border: 1px solid #1C54FC;
  border-radius: 8px;
  transition: 0.2s;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.nav-white .send-request:hover {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  transition: 0.2s;
}

.nav-dark {
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav-dark .navbar-toggler {
  border: none !important;
  box-shadow: none;
}
.nav-dark .navbar-toggler i {
  font-size: 34px;
  color: #313131;
}
.nav-dark .navbar-brand {
  padding: 0;
}
.nav-dark .navbar-brand img {
  width: auto;
  height: 68px;
}
.nav-dark .navbar-nav .nav-item {
  margin-right: 30px;
}
.nav-dark .navbar-nav .nav-item .nav-link {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  color: #666666;
}
.nav-dark .navbar-nav .nav-item .dropdown-menu-dark {
  background-color: #313131;
}
.nav-dark .send-request {
  width: 180px;
  height: 48px;
  background: #1C54FC;
  border: 1px solid #1C54FC;
  border-radius: 8px;
  transition: 0.2s;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.nav-dark .send-request:hover {
  color: #000000;
  background: transparent;
  border: 1px solid #000000;
  transition: 0.2s;
}

@media screen and (max-device-width: 992px) {
  .nav-white .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
  }
}
@media screen and (max-device-width: 992px) {
  .nav-dark .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
  }
}
footer {
  width: 100%;
  padding-bottom: 82px;
  padding-top: 73px;
  background: #313131;
  border-radius: 60px 60px 0 0;
}
footer a, footer p {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #F5F5F5;
}
footer .logo {
  margin-bottom: 40px;
}
footer .logo img {
  width: auto;
  height: 106px;
}
footer .social {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 115px;
}
footer .social a {
  font-size: 48px;
  line-height: 48px;
  color: #F5F5F5;
  margin-right: 30px;
}
footer .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #F5F5F5;
  margin-bottom: 30px;
}
footer .uslugi a, footer .uslugi p {
  margin-bottom: 30px;
}
footer .uslugi .last {
  margin-bottom: auto;
}
footer .uslugi .presentation {
  margin-bottom: 0;
}
footer .num {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #F5F5F5;
  margin-bottom: 15px;
}
footer .order-callback {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #F5F5F5;
  margin-bottom: 50px;
}

@media screen and (max-device-width: 992px) {
  footer {
    border-radius: 30px 30px 0 0;
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 70px;
  }
  footer .big-txt {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
  }
  footer .num {
    font-size: 20px;
    line-height: 20px;
  }
  footer .order-callback {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 70px;
  }
  footer .contact {
    margin-bottom: 70px;
  }
  footer .uslugi {
    margin-bottom: 70px;
  }
  footer .uslugi .last {
    margin-bottom: 30px;
  }
  footer .social {
    margin-bottom: 40px;
  }
  footer .social a {
    font-size: 40px;
  }
  footer .logo {
    margin-bottom: 0;
  }
  footer .logo img {
    width: 160px;
    height: 60px;
  }
}
.page-dark {
  background-color: #313131;
}

.page-white {
  background-color: #ffffff;
}

.block-1 {
  margin-top: 140px;
}
.block-1 h1 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.block-1 .right {
  width: 680px;
}
.block-1 .right h3 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #D7D7D7;
  margin-bottom: 30px;
}
.block-1 .right a {
  transition: 0.5s;
}
.block-1 .right a:hover .animashka {
  background-color: #1C54FC;
  border-color: #1C54FC;
  color: #FFFFFF;
  transition: left 0.5s;
}
.block-1 .right a:hover .animashka .kruglyashka {
  left: 444px;
  transition: 0.5s;
}
.block-1 .right a .animashka {
  width: 500px;
  height: 56px;
  transition: 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D7D7D7;
  border-radius: 60px;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #D7D7D7;
}
.block-1 .right a .animashka .kruglyashka {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transition: 0.5s;
  border-radius: 50%;
  background-color: #D7D7D7;
  font-size: 25px;
  color: #313131;
}
.block-1 .right a .animashka .kruglyashka svg {
  height: 25px;
  transform: rotate(-90deg);
}
.block-1 .right a .animashka p {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #D7D7D7;
  margin-bottom: 0;
}
.block-1 .right .strelka-vniz {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #D7D7D7;
  border-radius: 50%;
  border: 2px solid #D7D7D7;
}
.block-1 .right .strelka-vniz svg {
  height: 30px;
}
.block-1 .row .col-1 .box {
  width: 80px;
  height: 80px;
  border: 1px solid #D7D7D7;
  border-radius: 50%;
}
.block-1 .row .col-1 .box .bi-arrow-down {
  color: #D7D7D7;
  font-size: 30px;
}
.block-1 .line {
  margin-top: 58px;
  width: 100%;
  height: 10px;
  background-color: #666666;
  border-radius: 8px;
}

.block-2 {
  margin-top: 70px;
}
.block-2 #case1, .block-2 #case2, .block-2 #case3, .block-2 #case4, .block-2 #case5 {
  position: absolute;
  text-align: center;
  z-index: 999;
  display: none;
}
.block-2 .case1, .block-2 .case2, .block-2 .case3, .block-2 .case4, .block-2 .case5 {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 1s linear;
}
.block-2 .case1 .gif, .block-2 .case2 .gif, .block-2 .case3 .gif, .block-2 .case4 .gif, .block-2 .case5 .gif {
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: all 0.2s linear;
}
.block-2 .case1:hover .gif, .block-2 .case2:hover .gif, .block-2 .case3:hover .gif, .block-2 .case4:hover .gif, .block-2 .case5:hover .gif {
  transition: all 0.2s linear;
}
.block-2 .case1 p, .block-2 .case2 p, .block-2 .case3 p, .block-2 .case4 p, .block-2 .case5 p {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 0;
  display: none;
  transition: 0.2s;
}
.block-2 .case1:hover p, .block-2 .case2:hover p, .block-2 .case3:hover p, .block-2 .case4:hover p, .block-2 .case5:hover p {
  display: block;
  transition: 0.2s;
}
.block-2 .case1 {
  width: 280px;
  height: 500px;
}
.block-2 .case1:hover .gif1 {
  bottom: 80px;
}
.block-2 .case2 {
  width: 570px;
  height: 270px;
}
.block-2 .case2:hover .gif2 {
  bottom: 80px;
}
.block-2 .case3 {
  width: 570px;
  height: 210px;
}
.block-2 .case3:hover .gif3 {
  bottom: 40px;
}
.block-2 .case4 {
  width: 280px;
  height: 200px;
}
.block-2 .case4:hover .gif4 {
  bottom: 40px;
}
.block-2 .case5 {
  width: 280px;
  height: 280px;
}
.block-2 .case5:hover .gif5 {
  bottom: 80px;
}

.block-3 {
  width: 100%;
  padding: 78px 127px 84px 60px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-top: 70px;
}
.block-3 .left {
  width: 480px;
}
.block-3 .left .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #313131;
  margin-bottom: 48px;
}
.block-3 .left .small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  margin-bottom: 0;
}
.block-3 .right a {
  padding: 18px 27px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 28px;
  line-height: 120%;
  color: #313131;
  border-radius: 60px;
  margin-bottom: 14px;
  transition: 0.2s;
}
.block-3 .right a:hover {
  background-color: #1C54FC;
  color: #FFFFFF;
  transition: 0.2s;
}
.block-3 .right a:last-child {
  margin-bottom: 0;
}

.block-4 {
  margin-top: 65px;
}
.block-4 #paket_1 .paket-1, .block-4 #paket_1 .paket-2, .block-4 #paket_1 .paket-3, .block-4 #paket_1 .paket-4, .block-4 #paket_1 .paket-5, .block-4 #paket_2 .paket-1, .block-4 #paket_2 .paket-2, .block-4 #paket_2 .paket-3, .block-4 #paket_2 .paket-4, .block-4 #paket_2 .paket-5, .block-4 #paket_3 .paket-1, .block-4 #paket_3 .paket-2, .block-4 #paket_3 .paket-3, .block-4 #paket_3 .paket-4, .block-4 #paket_3 .paket-5, .block-4 #paket_4 .paket-1, .block-4 #paket_4 .paket-2, .block-4 #paket_4 .paket-3, .block-4 #paket_4 .paket-4, .block-4 #paket_4 .paket-5, .block-4 #paket_5 .paket-1, .block-4 #paket_5 .paket-2, .block-4 #paket_5 .paket-3, .block-4 #paket_5 .paket-4, .block-4 #paket_5 .paket-5 {
  overflow: hidden;
  position: relative;
}
.block-4 #paket_1 .paket-1 p, .block-4 #paket_1 .paket-2 p, .block-4 #paket_1 .paket-3 p, .block-4 #paket_1 .paket-4 p, .block-4 #paket_1 .paket-5 p, .block-4 #paket_2 .paket-1 p, .block-4 #paket_2 .paket-2 p, .block-4 #paket_2 .paket-3 p, .block-4 #paket_2 .paket-4 p, .block-4 #paket_2 .paket-5 p, .block-4 #paket_3 .paket-1 p, .block-4 #paket_3 .paket-2 p, .block-4 #paket_3 .paket-3 p, .block-4 #paket_3 .paket-4 p, .block-4 #paket_3 .paket-5 p, .block-4 #paket_4 .paket-1 p, .block-4 #paket_4 .paket-2 p, .block-4 #paket_4 .paket-3 p, .block-4 #paket_4 .paket-4 p, .block-4 #paket_4 .paket-5 p, .block-4 #paket_5 .paket-1 p, .block-4 #paket_5 .paket-2 p, .block-4 #paket_5 .paket-3 p, .block-4 #paket_5 .paket-4 p, .block-4 #paket_5 .paket-5 p {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 0;
}
.block-4 #paket_1 .paket-1 video, .block-4 #paket_1 .paket-2 video, .block-4 #paket_1 .paket-3 video, .block-4 #paket_1 .paket-4 video, .block-4 #paket_1 .paket-5 video, .block-4 #paket_2 .paket-1 video, .block-4 #paket_2 .paket-2 video, .block-4 #paket_2 .paket-3 video, .block-4 #paket_2 .paket-4 video, .block-4 #paket_2 .paket-5 video, .block-4 #paket_3 .paket-1 video, .block-4 #paket_3 .paket-2 video, .block-4 #paket_3 .paket-3 video, .block-4 #paket_3 .paket-4 video, .block-4 #paket_3 .paket-5 video, .block-4 #paket_4 .paket-1 video, .block-4 #paket_4 .paket-2 video, .block-4 #paket_4 .paket-3 video, .block-4 #paket_4 .paket-4 video, .block-4 #paket_4 .paket-5 video, .block-4 #paket_5 .paket-1 video, .block-4 #paket_5 .paket-2 video, .block-4 #paket_5 .paket-3 video, .block-4 #paket_5 .paket-4 video, .block-4 #paket_5 .paket-5 video {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.block-4 #paket_1:hover .paket-1 video, .block-4 #paket_1:hover .paket-2 video, .block-4 #paket_1:hover .paket-3 video, .block-4 #paket_1:hover .paket-4 video, .block-4 #paket_1:hover .paket-5 video, .block-4 #paket_2:hover .paket-1 video, .block-4 #paket_2:hover .paket-2 video, .block-4 #paket_2:hover .paket-3 video, .block-4 #paket_2:hover .paket-4 video, .block-4 #paket_2:hover .paket-5 video, .block-4 #paket_3:hover .paket-1 video, .block-4 #paket_3:hover .paket-2 video, .block-4 #paket_3:hover .paket-3 video, .block-4 #paket_3:hover .paket-4 video, .block-4 #paket_3:hover .paket-5 video, .block-4 #paket_4:hover .paket-1 video, .block-4 #paket_4:hover .paket-2 video, .block-4 #paket_4:hover .paket-3 video, .block-4 #paket_4:hover .paket-4 video, .block-4 #paket_4:hover .paket-5 video, .block-4 #paket_5:hover .paket-1 video, .block-4 #paket_5:hover .paket-2 video, .block-4 #paket_5:hover .paket-3 video, .block-4 #paket_5:hover .paket-4 video, .block-4 #paket_5:hover .paket-5 video {
  transition: all 0.2s linear;
}
.block-4 .left {
  width: 780px;
}
.block-4 .left .top {
  margin-bottom: 20px;
}
.block-4 .left .top #paket_1 {
  width: 380px;
  height: 240px;
}
.block-4 .left .top #paket_1 .paket-1 {
  width: 380px;
  height: 240px;
}
.block-4 .left .top #paket_1:hover .paket-1 video {
  bottom: 40px;
}
.block-4 .left .top #paket_2 {
  width: 380px;
  height: 240px;
}
.block-4 .left .top #paket_2 .paket-2 {
  width: 380px;
  height: 240px;
}
.block-4 .left .top #paket_2:hover .paket-2 video {
  bottom: 80px;
}
.block-4 .left .center {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 55px;
  background: #FFFFFF;
  border-radius: 60px;
}
.block-4 .left .center .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #313131;
  margin-bottom: 20px;
}
.block-4 .left .center .small-txt {
  width: 480px;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  margin-bottom: 25px;
}
.block-4 .left .center a {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 28px;
  line-height: 120%;
}
.block-4 .left .bottom #paket_3 {
  width: 380px;
  height: 240px;
}
.block-4 .left .bottom #paket_3 .paket-3 {
  width: 380px;
  height: 240px;
}
.block-4 .left .bottom #paket_3:hover .paket-3 video {
  bottom: 40px;
}
.block-4 .left .bottom #paket_4 {
  width: 380px;
  height: 240px;
}
.block-4 .left .bottom #paket_4 .paket-4 {
  width: 380px;
  height: 240px;
}
.block-4 .left .bottom #paket_4:hover .paket-4 video {
  bottom: 80px;
}
.block-4 .right {
  width: 380px;
  height: auto;
}
.block-4 .right #paket_5 {
  width: 100%;
  height: 450px;
}
.block-4 .right #paket_5 .paket-5 {
  width: 100%;
  height: 450px;
}
.block-4 .right #paket_5:hover .paket-5 video {
  bottom: 80px;
}

.block-5 {
  margin-top: 100px;
}
.block-5 h2 {
  color: #FFFFFF;
  width: 508px;
  font-size: 60px;
}
.block-5 p {
  margin-top: 20px;
  color: #FFFFFF;
  width: 480px;
  font-size: 20px;
  position: relative;
}
.block-5 a .round {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background-color: #1C54FC;
  border: 1px solid #1C54FC;
  color: #FFFFFF;
  float: right;
  transition: 0.2s;
}
.block-5 a .round h6 {
  font-size: 24px;
}
.block-5 a:hover .round {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  transition: 0.2s;
}
.block-5 .flag {
  right: 0;
  bottom: -130px;
}
.block-5 .flag svg {
  height: 25px;
  transform: rotate(-135deg);
}

.line {
  margin-top: 158px;
  width: 100%;
  height: 10px;
  background-color: #666666;
}

@media screen and (max-device-width: 992px) {
  .block-1 h1 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .block-1 .right {
    width: 100%;
  }
  .block-1 .right h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .block-1 .right a .animashka {
    width: 100%;
    height: 48px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 14px;
  }
  .block-1 .right a .animashka .kruglyashka {
    width: 48px;
    height: 48px;
  }
  .block-1 .right a .strelka-vniz {
    display: none;
  }

  .block-2 {
    margin-bottom: 20px;
  }
  .block-2 .case1:hover .gif, .block-2 .case2:hover .gif, .block-2 .case3:hover .gif, .block-2 .case4:hover .gif, .block-2 .case5:hover .gif {
    bottom: 0;
  }
  .block-2 .case4 {
    margin-bottom: 20px;
  }
  .block-2 .center {
    width: 100%;
  }
  .block-2 .center .case2 {
    width: 100%;
    height: 200px;
  }
  .block-2 .center .case3 {
    width: 100%;
    height: 180px;
  }

  .block-3 {
    padding: 40px 22px 40px 25px;
  }
  .block-3 .left {
    width: 100%;
    margin-bottom: 40px;
  }
  .block-3 .left .big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .block-3 .left .small-txt {
    font-size: 16px;
    line-height: 120%;
  }
  .block-3 .right {
    width: 100%;
  }
  .block-3 .right a {
    padding: 0;
    font-family: "GraphikLCG-Medium", sans-serif;
    font-size: 20px;
    line-height: 120%;
    color: #1C54FC;
    margin-bottom: 40px;
  }

  .block-4 #paket_1 .paket-1 p, .block-4 #paket_1 .paket-2 p, .block-4 #paket_1 .paket-3 p, .block-4 #paket_1 .paket-4 p, .block-4 #paket_1 .paket-5 p, .block-4 #paket_2 .paket-1 p, .block-4 #paket_2 .paket-2 p, .block-4 #paket_2 .paket-3 p, .block-4 #paket_2 .paket-4 p, .block-4 #paket_2 .paket-5 p, .block-4 #paket_3 .paket-1 p, .block-4 #paket_3 .paket-2 p, .block-4 #paket_3 .paket-3 p, .block-4 #paket_3 .paket-4 p, .block-4 #paket_3 .paket-5 p, .block-4 #paket_4 .paket-1 p, .block-4 #paket_4 .paket-2 p, .block-4 #paket_4 .paket-3 p, .block-4 #paket_4 .paket-4 p, .block-4 #paket_4 .paket-5 p, .block-4 #paket_5 .paket-1 p, .block-4 #paket_5 .paket-2 p, .block-4 #paket_5 .paket-3 p, .block-4 #paket_5 .paket-4 p, .block-4 #paket_5 .paket-5 p {
    font-family: "GraphikLCG-Medium", sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 0;
  }
  .block-4 #paket_1 .paket-1 video, .block-4 #paket_1 .paket-2 video, .block-4 #paket_1 .paket-3 video, .block-4 #paket_1 .paket-4 video, .block-4 #paket_1 .paket-5 video, .block-4 #paket_2 .paket-1 video, .block-4 #paket_2 .paket-2 video, .block-4 #paket_2 .paket-3 video, .block-4 #paket_2 .paket-4 video, .block-4 #paket_2 .paket-5 video, .block-4 #paket_3 .paket-1 video, .block-4 #paket_3 .paket-2 video, .block-4 #paket_3 .paket-3 video, .block-4 #paket_3 .paket-4 video, .block-4 #paket_3 .paket-5 video, .block-4 #paket_4 .paket-1 video, .block-4 #paket_4 .paket-2 video, .block-4 #paket_4 .paket-3 video, .block-4 #paket_4 .paket-4 video, .block-4 #paket_4 .paket-5 video, .block-4 #paket_5 .paket-1 video, .block-4 #paket_5 .paket-2 video, .block-4 #paket_5 .paket-3 video, .block-4 #paket_5 .paket-4 video, .block-4 #paket_5 .paket-5 video {
    height: auto;
  }
  .block-4 #paket_1:hover .paket-1 video, .block-4 #paket_1:hover .paket-2 video, .block-4 #paket_1:hover .paket-3 video, .block-4 #paket_1:hover .paket-4 video, .block-4 #paket_1:hover .paket-5 video, .block-4 #paket_2:hover .paket-1 video, .block-4 #paket_2:hover .paket-2 video, .block-4 #paket_2:hover .paket-3 video, .block-4 #paket_2:hover .paket-4 video, .block-4 #paket_2:hover .paket-5 video, .block-4 #paket_3:hover .paket-1 video, .block-4 #paket_3:hover .paket-2 video, .block-4 #paket_3:hover .paket-3 video, .block-4 #paket_3:hover .paket-4 video, .block-4 #paket_3:hover .paket-5 video, .block-4 #paket_4:hover .paket-1 video, .block-4 #paket_4:hover .paket-2 video, .block-4 #paket_4:hover .paket-3 video, .block-4 #paket_4:hover .paket-4 video, .block-4 #paket_4:hover .paket-5 video, .block-4 #paket_5:hover .paket-1 video, .block-4 #paket_5:hover .paket-2 video, .block-4 #paket_5:hover .paket-3 video, .block-4 #paket_5:hover .paket-4 video, .block-4 #paket_5:hover .paket-5 video {
    transition: all 0.2s linear;
  }
  .block-4 .left {
    width: 100%;
  }
  .block-4 .left .top #paket_1 {
    width: 100%;
    height: auto;
  }
  .block-4 .left .top #paket_1 .paket-1 {
    width: 100%;
  }
  .block-4 .left .top #paket_2 {
    width: 100%;
    height: auto;
  }
  .block-4 .left .top #paket_2 .paket-2 {
    width: 100%;
  }
  .block-4 .left .center {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 40px;
    border-radius: 30px;
    margin-bottom: 0;
  }
  .block-4 .left .center .big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .block-4 .left .center .small-txt {
    width: 100%;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 40px;
  }
  .block-4 .left .center a {
    font-size: 20px;
    line-height: 120%;
  }
  .block-4 .right {
    width: 100%;
  }
  .block-4 .right #paket_5 {
    width: 100%;
  }
  .block-4 .right #paket_5 .paket-5 {
    width: 100%;
  }
  .block-4 .right #paket_5:hover .paket-5 video {
    bottom: 70px;
  }

  .block-5 .row {
    display: block;
  }
  .block-5 .row .col-6 {
    width: 100%;
  }
  .block-5 .row .col-6 h2 {
    font-size: 30px;
    width: 100%;
  }
  .block-5 .row .col-6 p {
    font-size: 16px;
    width: 100%;
  }
  .block-5 .row .col-6 .round {
    width: 100px;
    height: 100px;
  }
  .block-5 .row .col-6 .round h6 {
    font-size: 12px;
  }
  .block-5 .row .col-6 .round svg {
    height: 15px;
  }
}
.page-cases {
  margin-top: 100px;
  margin-bottom: 70px;
}
.page-cases h2 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 160px;
  line-height: 100%;
  color: #313131;
  margin-bottom: 0;
}
.page-cases .small-txt {
  width: 474px;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 27px;
}
.page-cases .block-2 {
  margin-top: 70px;
}
.page-cases .block-2 .top {
  margin-bottom: 20px;
}
.page-cases .block-2 .center2 {
  margin-left: 20px;
}
.page-cases .block-2 .case1, .page-cases .block-2 .case2, .page-cases .block-2 .case3, .page-cases .block-2 .case4, .page-cases .block-2 .case5, .page-cases .block-2 .case6, .page-cases .block-2 .case7, .page-cases .block-2 .case8 {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 1s linear;
}
.page-cases .block-2 .case1 .gif, .page-cases .block-2 .case2 .gif, .page-cases .block-2 .case3 .gif, .page-cases .block-2 .case4 .gif, .page-cases .block-2 .case5 .gif, .page-cases .block-2 .case6 .gif, .page-cases .block-2 .case7 .gif, .page-cases .block-2 .case8 .gif {
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: all 0.2s linear;
}
.page-cases .block-2 .case1:hover .gif, .page-cases .block-2 .case2:hover .gif, .page-cases .block-2 .case3:hover .gif, .page-cases .block-2 .case4:hover .gif, .page-cases .block-2 .case5:hover .gif, .page-cases .block-2 .case6:hover .gif, .page-cases .block-2 .case7:hover .gif, .page-cases .block-2 .case8:hover .gif {
  transition: all 0.2s linear;
}
.page-cases .block-2 .case1 p, .page-cases .block-2 .case2 p, .page-cases .block-2 .case3 p, .page-cases .block-2 .case4 p, .page-cases .block-2 .case5 p, .page-cases .block-2 .case6 p, .page-cases .block-2 .case7 p, .page-cases .block-2 .case8 p {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 0;
  display: none;
  transition: 0.2s;
}
.page-cases .block-2 .case1:hover p, .page-cases .block-2 .case2:hover p, .page-cases .block-2 .case3:hover p, .page-cases .block-2 .case4:hover p, .page-cases .block-2 .case5:hover p, .page-cases .block-2 .case6:hover p, .page-cases .block-2 .case7:hover p, .page-cases .block-2 .case8:hover p {
  display: block;
  transition: 0.2s;
}
.page-cases .block-2 .case1 {
  width: 280px;
  height: 500px;
}
.page-cases .block-2 .case1:hover .gif1 {
  bottom: 80px;
}
.page-cases .block-2 .case2 {
  width: 570px;
  height: 270px;
}
.page-cases .block-2 .case2:hover .gif2 {
  bottom: 80px;
}
.page-cases .block-2 .case3 {
  width: 570px;
  height: 210px;
}
.page-cases .block-2 .case3:hover .gif3 {
  bottom: 40px;
}
.page-cases .block-2 .case4 {
  width: 280px;
  height: 200px;
}
.page-cases .block-2 .case4:hover .gif4 {
  bottom: 40px;
}
.page-cases .block-2 .case5 {
  width: 280px;
  height: 280px;
}
.page-cases .block-2 .case5:hover .gif5 {
  bottom: 80px;
}
.page-cases .block-2 .case6 {
  width: 380px;
  height: 450px;
}
.page-cases .block-2 .case6:hover .gif6 {
  bottom: 80px;
}
.page-cases .block-2 .case7 {
  width: 341px;
  height: 215px;
}
.page-cases .block-2 .case7:hover .gif7 {
  bottom: 40px;
}
.page-cases .block-2 .case8 {
  width: 341px;
  height: 215px;
}
.page-cases .block-2 .case8:hover .gif8 {
  bottom: 80px;
}

@media screen and (max-device-width: 992px) {
  .page-cases h2 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 30px;
  }
  .page-cases .small-txt {
    width: 100%;
  }
  .page-cases .block-2 {
    margin-bottom: 20px;
  }
  .page-cases .block-2 .center2 {
    margin-left: 0;
  }
  .page-cases .block-2 .case1:hover .gif, .page-cases .block-2 .case2:hover .gif, .page-cases .block-2 .case3:hover .gif, .page-cases .block-2 .case4:hover .gif, .page-cases .block-2 .case5:hover .gif, .page-cases .block-2 .case6:hover .gif, .page-cases .block-2 .case7:hover .gif, .page-cases .block-2 .case8:hover .gif {
    bottom: 0;
  }
  .page-cases .block-2 .case4 {
    margin-bottom: 20px;
  }
  .page-cases .block-2 .case6 {
    width: -moz-available;
  }
  .page-cases .block-2 .case7 {
    margin-bottom: 20px;
  }
  .page-cases .block-2 .center {
    width: 100%;
  }
  .page-cases .block-2 .center .case2 {
    width: 100%;
    height: 200px;
  }
  .page-cases .block-2 .center .case3 {
    width: 100%;
    height: 180px;
  }
}
.page-case .header {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-bottom: 234px;
}
.page-case .header h1 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #F5F5F5;
  margin-top: 142px;
  margin-bottom: 0;
}
.page-case .case-content {
  background-color: #FFFFFF;
  width: 100%;
  margin-top: -60px;
  padding-top: 150px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.page-case .case-content p {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #313131;
  margin-bottom: 0;
}
.page-case .case-content .text-1 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #313131;
  margin-bottom: 80px;
}
.page-case .case-content .text-2 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #313131;
  margin-bottom: 25px;
}
.page-case .case-content .top {
  margin-bottom: 88px;
}
.page-case .case-content .top .left {
  width: 45%;
}
.page-case .case-content .top .right {
  width: 50%;
}
.page-case .case-content .center {
  margin-bottom: 80px;
}
.page-case .case-content .center .left {
  width: 50%;
}
.page-case .case-content .center .right {
  width: 50%;
}
.page-case .case-content .center .right ul {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #313131;
  margin-bottom: 0;
}
.page-case .case-content .center .right ul li {
  margin-bottom: 20px;
}
.page-case .case-content .bottom {
  width: 50%;
  margin-bottom: 100px;
}
.page-case .case-content .bottom p {
  margin-bottom: 15px;
}
.page-case .case-content .bottom .text-2 {
  margin-bottom: 50px;
}
.page-case .case-content .bottom .left {
  width: 50%;
}
.page-case .case-content .bottom .right {
  width: 50%;
}
.page-case .case-content .media .story {
  margin-top: 25px;
  margin-bottom: 80px;
}
.page-case .case-content .media .story img {
  width: 380px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: intrinsic;
  margin-top: 20px;
  margin-right: 20px;
}
.page-case .case-content .media .story img:nth-child(3n) {
  margin-right: 0;
}
.page-case .case-content .media .post {
  margin-top: 25px;
  margin-bottom: 80px;
}
.page-case .case-content .media .post img {
  width: 380px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: intrinsic;
  margin-top: 20px;
  margin-right: 20px;
}
.page-case .case-content .media .post img:nth-child(3n) {
  margin-right: 0;
}
.page-case .case-content .media .video {
  margin-top: 25px;
  margin-bottom: 100px;
}
.page-case .case-content .media .video video {
  width: 380px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: intrinsic;
  margin-top: 20px;
  margin-right: 20px;
}
.page-case .case-content .media .video video:nth-child(3n) {
  margin-right: 0;
}
.page-case .form {
  background: #FFFFFF;
  padding-bottom: 130px;
}
.page-case .form .text-1 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #313131;
  margin-bottom: 50px;
}
.page-case .form .left {
  width: 580px;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #313131;
}
.page-case .form .left ul {
  margin-top: 15px;
}
.page-case .form .right {
  width: 580px;
}
.page-case .form .right label {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 20px;
}
.page-case .form .right input {
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #666666;
  margin-bottom: 40px;
  box-shadow: none;
  padding-left: 0;
}
.page-case .form .right textarea {
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #666666;
  margin-bottom: 40px;
  box-shadow: none;
  padding-left: 0;
  max-height: 200px;
  padding-top: 0;
}
.page-case .form .right button {
  width: 280px;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #1C54FC;
  border-radius: 60px;
  border: none;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
}
.page-case .form .right small {
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}
.page-case .more-cases {
  padding-top: 130px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background: #313131;
}
.page-case .more-cases .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 100px;
}
.page-case .more-cases .boxiki {
  width: 380px;
  height: 380px;
  background: #FFFFFF;
  border-radius: 8px;
}
.page-case .more-cases .line {
  width: 100%;
  height: 10px;
  background: #666666;
  border-radius: 8px;
  margin-top: 140px;
}
.page-case .kara-shapan {
  position: absolute;
  width: 100%;
  height: 73px;
  background-color: #313131;
}

@media screen and (max-device-width: 992px) {
  .page-case .header {
    background-size: auto 100%;
    background-position: center;
  }
  .page-case .header h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .page-case .case-content {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 80px;
  }
  .page-case .case-content p {
    font-family: "GraphikLCG-Light", sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
  .page-case .case-content .text-1 {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .page-case .case-content .text-2 {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .page-case .case-content .top .left {
    width: 100%;
  }
  .page-case .case-content .top .right {
    width: 100%;
  }
  .page-case .case-content .center .text-1 {
    margin-bottom: 15px;
  }
  .page-case .case-content .center .left {
    width: 100%;
  }
  .page-case .case-content .center .right {
    width: 100%;
  }
  .page-case .case-content .bottom {
    width: 100%;
    margin-bottom: 50px;
  }
  .page-case .case-content .bottom .text-2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .page-case .case-content .bottom .left {
    width: 100%;
  }
  .page-case .case-content .bottom .right {
    width: 100%;
  }
  .page-case .case-content .media .text-1 {
    margin-bottom: 15px;
  }
  .page-case .case-content .media .story {
    margin-top: 22px;
    margin-bottom: 30px;
  }
  .page-case .case-content .media .story img {
    margin-top: 15px;
    margin-right: 0;
    width: 100%;
  }
  .page-case .case-content .media .post {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .page-case .case-content .media .post img {
    margin-top: 15px;
    margin-right: 0;
    width: 100%;
  }
  .page-case .case-content .media .video {
    margin-top: 15px;
    margin-bottom: 80px;
  }
  .page-case .case-content .media .video video {
    margin-top: 15px;
    margin-right: 0;
    width: 100%;
  }
  .page-case .form {
    padding-bottom: 70px;
  }
  .page-case .form .text-1 {
    font-family: "GraphikLCG-Medium", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #313131;
    margin-bottom: 30px;
  }
  .page-case .form .left {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .page-case .form .right {
    width: 100%;
  }
  .page-case .form .right label {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .page-case .form .right input {
    border-bottom: 1px solid #666666;
  }
  .page-case .form .right textarea {
    border-bottom: 1px solid #666666;
  }
  .page-case .form .right button {
    width: 100%;
  }
  .page-case .more-cases {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 80px;
  }
  .page-case .more-cases .big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .page-case .more-cases .boxiki {
    width: 100%;
    margin-bottom: 20px;
  }
  .page-case .more-cases .line {
    margin-top: 120px;
  }
}
.page-vacancy {
  margin-top: 100px;
}
.page-vacancy h2 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 124px;
  line-height: 124px;
  color: #313131;
  margin-bottom: 0;
}
.page-vacancy .small-txt {
  width: 505px;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 19px;
}
.page-vacancy .vacancy {
  margin-top: 245px;
}
.page-vacancy .vacancy div.header {
  border-top: 1px solid #666666;
  height: 140px;
}
.page-vacancy .vacancy div.header p.header {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #313131;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item {
  border: none;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button {
  padding: 0;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button::after {
  background: none;
  width: 0;
  height: 0;
  display: none;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content {
  height: 140px;
  padding: 0 0 0 100px;
  transition: 1s;
  border-top: 1px solid #666666;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content h3 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: #313131;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right {
  width: 580px;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right p.description {
  width: 480px;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #313131;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right svg {
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right svg circle {
  stroke: #313131;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right svg path {
  fill: #313131;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #1C54FC;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content {
  height: 140px;
  padding: 0 50px;
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content h3 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: #F5F5F5;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right {
  width: 580px;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right p.description {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
  margin-bottom: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right svg {
  transform: rotate(45deg);
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right svg circle {
  stroke: #F5F5F5;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right svg path {
  fill: #F5F5F5;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .collapsing {
  transition: 1s;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body {
  margin-top: 40px;
  padding: 0;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed {
  padding-left: 50px;
  padding-right: 50px;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed p.big-txt {
  width: 50%;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: #313131;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul {
  width: 50%;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul li {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #313131;
  margin-bottom: 15px;
}
.page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul li::marker {
  color: #1C54FC;
}
.page-vacancy .vacancy .form-vacancy {
  padding-top: 70px;
  border-top: 1px solid #666666;
  margin-bottom: 100px;
}
.page-vacancy .vacancy .form-vacancy .left {
  width: 50%;
}
.page-vacancy .vacancy .form-vacancy .left p.big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #313131;
  margin-bottom: 30px;
}
.page-vacancy .vacancy .form-vacancy .left p.small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
  margin-bottom: 0;
}
.page-vacancy .vacancy .form-vacancy .right {
  width: 50%;
  margin-left: 20px;
}
.page-vacancy .vacancy .form-vacancy .right .blank label {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
}
.page-vacancy .vacancy .form-vacancy .right .blank input {
  border: none;
  border-bottom: 3px solid #666666;
  border-radius: 0;
  padding: 0;
  height: 52px;
  box-shadow: none;
  margin-bottom: 40px;
}
.page-vacancy .vacancy .form-vacancy .right .blank textarea {
  border: none;
  border-bottom: 3px solid #666666;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  min-height: 52px;
  height: 120px;
  max-height: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.page-vacancy .vacancy .form-vacancy .right .resume {
  margin-bottom: 50px;
}
.page-vacancy .vacancy .form-vacancy .right .resume label {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
  margin-bottom: 30px;
}
.page-vacancy .vacancy .form-vacancy .right button {
  width: 100%;
  height: 56px;
  background: #1C54FC;
  border-radius: 60px;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
  border: none;
  margin-bottom: 20px;
}
.page-vacancy .vacancy .form-vacancy .right p.agreement {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

@media screen and (max-device-width: 992px) {
  .page-vacancy h2.header {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 30px;
  }
  .page-vacancy .small-txt {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content {
    padding: 25px 15px;
    height: auto;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 27px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button .content .right p.description {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content {
    padding: 25px 15px;
    height: auto;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 27px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-button:not(.collapsed) .content .right p.description {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed p.big-txt {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul {
    width: 100%;
  }
  .page-vacancy .vacancy .vacancies .accordion .accordion-item .accordion-body .detailed ul li {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .form-vacancy .left {
    width: 100%;
    margin-bottom: 50px;
  }
  .page-vacancy .vacancy .form-vacancy .left p.big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .page-vacancy .vacancy .form-vacancy .left p.small-txt {
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .form-vacancy .right {
    width: 100%;
    margin-left: 0;
  }
  .page-vacancy .vacancy .form-vacancy .right .blank label {
    font-size: 16px;
    line-height: 16px;
  }
  .page-vacancy .vacancy .form-vacancy .right .blank input {
    height: 37px;
    border-bottom: 1px solid #666666;
  }
  .page-vacancy .vacancy .form-vacancy .right .blank textarea {
    border-bottom: 1px solid #666666;
  }
}
.page-decision {
  margin-top: 100px;
}
.page-decision .header {
  height: 300px;
  margin-bottom: 180px;
}
.page-decision .header .left {
  width: 66%;
}
.page-decision .header .left h1 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 35px;
}
.page-decision .header .left p.desc {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 35px;
  line-height: 35px;
  color: #000000;
}
.page-decision .header .right {
  width: 34%;
}
.page-decision .header .right a {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #1C54FC;
  background: #1C54FC;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
.page-decision .header .right a svg {
  height: 25px;
  transform: rotate(-135deg);
  fill: #FFFFFF;
}
.page-decision .header .right a:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  transition: 0.2s;
}
.page-decision .header .right a:hover svg {
  fill: #000000;
}
.page-decision .santa {
  height: 850px;
  background: #313131;
  border-radius: 60px;
}
.page-decision .santa .box {
  background-image: url("/img/star.png");
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: 400px 400px;
}
.page-decision .santa div {
  height: 100%;
}
.page-decision .santa .left {
  width: 50%;
}
.page-decision .santa .right {
  width: 50%;
}
.page-decision .santa .right p.big-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 39px;
  line-height: 39px;
  color: #F5F5F5;
  margin-bottom: 40px;
}
.page-decision .santa .right p.small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 23px;
  line-height: 23px;
  color: #F5F5F5;
  margin-bottom: 0;
}
.page-decision .paket {
  margin-top: 150px;
}
.page-decision .paket .header2 .left {
  width: 40%;
}
.page-decision .paket .header2 .left .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 0;
}
.page-decision .paket .header2 .right {
  width: 680px;
}
.page-decision .paket .header2 .right .small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 0;
}
.page-decision .paket .paket-uslug {
  margin-top: 190px;
  margin-bottom: 160px;
}
.page-decision .paket .paket-uslug h2 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #313131;
  margin-bottom: 60px;
}
.page-decision .paket .paket-uslug .paket-header div {
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #666666;
}
.page-decision .paket .paket-uslug .paket-header .lite {
  width: 130px;
  background: #C9FFC8;
  border-radius: 15px 0 0 0;
}
.page-decision .paket .paket-uslug .paket-header .standard {
  width: 132px;
  background: #FEFFC8;
}
.page-decision .paket .paket-uslug .paket-header .optimal {
  width: 300px;
  background: #C8E6FF;
}
.page-decision .paket .paket-uslug .paket-header .premium {
  width: 299px;
  background: #F2F9FF;
  border-radius: 0 15px 0 0;
}
.page-decision .paket .paket-uslug .paket-footer {
  border-top: 1px solid #D7D7D7;
}
.page-decision .paket .paket-uslug .paket-footer div {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #666666;
}
.page-decision .paket .paket-uslug .paket-footer div p {
  margin-bottom: 0;
}
.page-decision .paket .paket-uslug .paket-footer .price {
  width: 319px;
  justify-content: start;
  color: #313131;
}
.page-decision .paket .paket-uslug .paket-footer .lite {
  width: 130px;
  background: #C9FFC8;
  border-radius: 0 0 0 15px;
  color: #666666;
}
.page-decision .paket .paket-uslug .paket-footer .standard {
  width: 132px;
  background: #FEFFC8;
  color: #666666;
}
.page-decision .paket .paket-uslug .paket-footer .optimal {
  width: 300px;
  background: #C8E6FF;
  color: #313131;
}
.page-decision .paket .paket-uslug .paket-footer .premium {
  width: 299px;
  background: #F2F9FF;
  border-radius: 0 0 15px 0;
  color: #1C54FC;
}
.page-decision .paket .paket-uslug .paket-line {
  width: 100%;
  height: 50px;
}
.page-decision .paket .paket-uslug .paket-line .p-line {
  border-top: 1px solid #D7D7D7;
  height: 100%;
}
.page-decision .paket .paket-uslug .paket-line .p-line div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.page-decision .paket .paket-uslug .paket-line .p-line div p {
  margin-bottom: 0;
}
.page-decision .paket .paket-uslug .paket-line .p-line .l-1 {
  width: 319px;
  color: #313131;
  justify-content: start;
}
.page-decision .paket .paket-uslug .paket-line .p-line .l-2 {
  width: 130px;
  background: #C9FFC8;
  color: #666666;
  text-align: center;
}
.page-decision .paket .paket-uslug .paket-line .p-line .l-3 {
  width: 132px;
  background: #FEFFC8;
  color: #666666;
  text-align: center;
}
.page-decision .paket .paket-uslug .paket-line .p-line .l-4 {
  width: 300px;
  background: #C8E6FF;
  color: #313131;
  text-align: center;
}
.page-decision .paket .paket-uslug .paket-line .p-line .l-5 {
  width: 299px;
  background: #F2F9FF;
  color: #1C54FC;
  text-align: center;
}
.page-decision .paket .paket-uslug .paket-line:hover {
  background-color: #1C54FC;
  color: #F5F5F5 !important;
}
.page-decision .paket .paket-uslug .paket-line:hover .p-line {
  border-top: 1px solid #1C54FC;
}
.page-decision .paket .paket-uslug .paket-line:hover .p-line div {
  background-color: transparent;
  color: #F5F5F5 !important;
}
.page-decision .express {
  margin-bottom: 100px;
}
.page-decision .express .left {
  width: 580px;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #313131;
}
.page-decision .express .right {
  width: 480px;
}
.page-decision .express .right p {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 115%;
  color: #313131;
  margin-bottom: 0;
}
.page-decision .express .right a {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 24px;
  line-height: 115%;
  color: #FFFFFF;
  border-radius: 50%;
  background: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
}
.page-decision .express .right a svg {
  height: 25px;
  transform: rotate(-135deg);
  fill: #FFFFFF;
}
.page-decision .express .right a:hover {
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-decision .express .right a:hover svg {
  fill: #000000;
}

@media screen and (max-device-width: 992px) {
  .page-decision .header {
    margin-bottom: 80px;
    height: auto;
  }
  .page-decision .header .left {
    width: 100%;
    margin-bottom: 25px;
  }
  .page-decision .header .left h1 {
    width: 90%;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .page-decision .header .left p.desc {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .page-decision .header .right {
    width: 100%;
  }
  .page-decision .header .right a {
    width: 120px;
    height: 120px;
    font-size: 12px;
    line-height: 12px;
  }
  .page-decision .header .right a svg {
    height: 12px;
  }
  .page-decision .santa {
    height: 670px;
    border-radius: 30px;
  }
  .page-decision .santa .left {
    display: none;
  }
  .page-decision .santa .box {
    background-image: url("/img/star2.png");
    background-position: center;
    background-size: 345px 345px;
  }
  .page-decision .santa .right {
    width: 100%;
  }
  .page-decision .santa .right p.big-txt {
    width: 75%;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 60px;
  }
  .page-decision .santa .right p.small-txt {
    font-size: 18px;
    line-height: 18px;
  }
  .page-decision .paket {
    width: 100%;
    margin-top: 80px;
    overflow-y: scroll;
    align-items: start;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .page-decision .paket .header2 .left {
    width: 100%;
  }
  .page-decision .paket .header2 .left .big-txt {
    font-family: "GraphikLCG-Medium", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #313131;
    margin-bottom: 25px;
  }
  .page-decision .paket .header2 .right {
    width: 100%;
  }
  .page-decision .paket .header2 .right .small-txt {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 16px;
    line-height: 115%;
    color: #313131;
  }
  .page-decision .paket .paket-uslug {
    margin-top: 100px;
  }
  .page-decision .paket .paket-uslug h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .page-decision .express {
    margin-bottom: 70px;
  }
  .page-decision .express .left {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .page-decision .express .right {
    width: 100%;
  }
  .page-decision .express .right p {
    font-size: 16px;
    line-height: 115%;
  }
  .page-decision .express .right a {
    width: 102px;
    height: 102px;
    font-size: 12px;
    line-height: 115%;
  }
  .page-decision .express .right a svg {
    height: 15px;
  }
}
.page-target {
  margin-top: 112px;
}
.page-target .header .left {
  width: 780px;
}
.page-target .header .left .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 35px;
}
.page-target .header .left .small-txt {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 35px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 76px;
}
.page-target .header .right a div {
  width: 180px;
  height: 180px;
  background-color: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}
.page-target .header .right a div:hover {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-target .plan {
  margin-top: 180px;
  margin-bottom: 500px;
  padding-top: 150px;
  background: #313131;
  border-radius: 60px;
}
.page-target .plan .head-box h2 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 75px;
}
.page-target .plan .box {
  margin-top: 200px;
}
.page-target .plan .box h2 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 75px;
}
.page-target .plan .box:last-child h2 {
  margin-bottom: 0;
}
.page-target .plan .list .big-txt {
  width: 145px;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #1C54FC;
  margin-right: 40px;
}
.page-target .plan .list .big-txt span {
  font-size: 56px;
  line-height: 56px;
  color: rgba(28, 84, 252, 0.7);
}
.page-target .plan .list .boxiha {
  width: 280px;
  margin-top: 82px;
  margin-right: 30px;
}
.page-target .plan .list .boxiha:last-child {
  width: 340px;
}
.page-target .plan .list .boxiha .main-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
  margin-bottom: 30px;
  position: relative;
}
.page-target .plan .list .boxiha .main-txt img {
  position: absolute;
  left: -30px;
}
.page-target .plan .list .boxiha .txt {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
}
.page-target .plan .saplya {
  position: relative;
  bottom: -334px;
  width: 1180px;
  height: 668px;
  padding: 82px 100px 148px 100px;
  background: #F2F9FF;
  border-radius: 60px;
}
.page-target .plan .saplya h3 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #313131;
}
.page-target .plan .saplya .steps {
  margin-top: 85px;
  width: 100%;
}
.page-target .plan .saplya .steps .big-txt {
  width: 28px;
  display: flex;
  justify-content: center;
  font-family: "MuseoSansCyrl-900", sans-serif;
  font-size: 34px;
  line-height: 40px;
  color: #1C54FC;
  margin-right: 15px;
}
.page-target .plan .saplya .steps p {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 60px;
}
.page-target .plan .saplya .take-plan div {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  background: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
  border-radius: 50%;
}
.page-target .plan .saplya .take-plan div:hover {
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-target .price-uslug {
  background: #313131;
  border-radius: 60px 60px 0 0;
  padding-top: 130px;
}
.page-target .price-uslug h3 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 100px;
}
.page-target .price-uslug h3:last-child {
  margin-top: 130px;
}
.page-target .price-uslug .uslugi {
  margin-bottom: 130px;
}
.page-target .price-uslug .uslugi .box {
  width: 580px;
  padding: 60px 50px 67px 60px;
  background: #FFFFFF;
  border-radius: 8px;
}
.page-target .price-uslug .uslugi .box h4 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0;
}
.page-target .price-uslug .uslugi .box .price {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #1C54FC;
  margin-top: 53px;
  margin-bottom: 0;
}
.page-target .price-uslug .uslugi .box p {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
  margin-top: 45px;
  margin-bottom: 0;
}
.page-target .price-uslug .uslugi .box a div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 17px 40px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #1C54FC;
  border: 3px solid #1C54FC;
  border-radius: 60px;
  transition: 0.2s;
}
.page-target .price-uslug .uslugi .box a:hover div {
  background-color: #1C54FC;
  color: #FFFFFF;
  transition: 0.2s;
}
.page-target .price-uslug .boxiki {
  width: 380px;
  height: 380px;
  background: #FFFFFF;
  border-radius: 8px;
}
.page-target .price-uslug .line {
  width: 100%;
  height: 10px;
  background: #666666;
  border-radius: 8px;
  margin-top: 140px;
}
.page-target .price-uslug .kara-shapan {
  position: absolute;
  width: 100%;
  height: 73px;
  background-color: #313131;
}

@media screen and (max-device-width: 992px) {
  .page-target .header .left {
    width: 100%;
  }
  .page-target .header .left .big-txt {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .page-target .header .left .small-txt {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .page-target .header .right a div {
    width: 120px;
    height: 120px;
    font-size: 12px;
    line-height: 12px;
  }
  .page-target .plan {
    margin-top: 80px;
    padding-top: 80px;
    border-radius: 30px;
  }
  .page-target .plan .head-box h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 70px;
  }
  .page-target .plan .box {
    margin-top: 80px;
  }
  .page-target .plan .box h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 70px;
  }
  .page-target .plan .list .big-txt {
    width: 100%;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
  }
  .page-target .plan .list .big-txt span {
    line-height: 0;
  }
  .page-target .plan .list .boxiha {
    padding-left: 64px;
    width: 100%;
    margin-top: 50px;
  }
  .page-target .plan .list .boxiha .main-txt {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .page-target .plan .list .boxiha .txt {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .page-target .plan .saplya {
    width: 100%;
    border-radius: 30px;
    padding: 80px 15px 100px;
    height: auto;
  }
  .page-target .plan .saplya h3 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .page-target .plan .saplya .steps {
    margin-top: 30px;
  }
  .page-target .plan .saplya .steps .big-txt {
    font-size: 25px;
    line-height: 29px;
  }
  .page-target .plan .saplya .steps p {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 35px;
  }
  .page-target .plan .saplya .take-plan {
    position: absolute;
    bottom: -60px;
    right: 20px;
  }
  .page-target .plan .saplya .take-plan div {
    width: 120px;
    height: 120px;
    font-size: 14px;
    line-height: 14px;
  }
  .page-target .price-uslug {
    background: #313131;
    border-radius: 30px 30px 0 0;
  }
  .page-target .price-uslug h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .page-target .price-uslug .uslugi {
    margin-bottom: 50px;
  }
  .page-target .price-uslug .uslugi .box {
    width: 100%;
    padding: 35px 22px;
    margin-bottom: 20px;
  }
  .page-target .price-uslug .uslugi .box h4 {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
  .page-target .price-uslug .uslugi .box .price {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .page-target .price-uslug .uslugi .box p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 16px;
  }
  .page-target .price-uslug .uslugi .box a div {
    padding: 15px 0;
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
  .page-target .price-uslug .boxiki {
    width: 100%;
    margin-bottom: 20px;
  }
}
.page-web {
  padding-top: 112px;
}
.page-web .header .left {
  width: 780px;
}
.page-web .header .left .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 35px;
}
.page-web .header .left .small-txt {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 35px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 76px;
}
.page-web .header .right a div {
  width: 180px;
  height: 180px;
  background-color: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}
.page-web .header .right a div:hover {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-web .plan {
  padding-top: 150px;
  background-color: #313131;
  border-radius: 60px;
  margin-top: 140px;
}
.page-web .plan .head-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 75px;
}
.page-web .plan .stairs .box {
  width: 600px;
  margin-bottom: 120px;
}
.page-web .plan .stairs .box img {
  width: 180px;
  height: 180px;
}
.page-web .plan .stairs .box .txt-box {
  margin-left: 40px;
}
.page-web .plan .stairs .box .txt-box .big-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
  margin-bottom: 20px;
}
.page-web .plan .stairs .box .txt-box .small-txt {
  font-family: "GraphikLCG-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
}
.page-web .plan .how-we-work {
  margin-top: 90px;
}
.page-web .plan .how-we-work .head-box h2 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 75px;
}
.page-web .plan .how-we-work .box {
  margin-top: 200px;
}
.page-web .plan .how-we-work .box h2 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 75px;
}
.page-web .plan .how-we-work .box:last-child h2 {
  margin-bottom: 0;
}
.page-web .plan .how-we-work .list .big-txt {
  width: auto;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #1C54FC;
  margin-right: 40px;
}
.page-web .plan .how-we-work .list .big-txt span {
  font-size: 56px;
  line-height: 56px;
  color: rgba(28, 84, 252, 0.7);
}
.page-web .plan .how-we-work .list .boxiha {
  width: 280px;
  margin-top: 82px;
  margin-right: 30px;
}
.page-web .plan .how-we-work .list .boxiha:last-child {
  width: 340px;
}
.page-web .plan .how-we-work .list .boxiha .main-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
  margin-bottom: 30px;
  position: relative;
}
.page-web .plan .how-we-work .list .boxiha .main-txt img {
  position: absolute;
  left: -30px;
}
.page-web .plan .how-we-work .list .boxiha .txt {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
}
.page-web .plan .how-we-work .pizza div {
  font-family: "GraphikLCG-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
}
.page-web .plan .how-we-work .pizza .right {
  width: 25%;
}
.page-web .plan .how-we-work .pizza .center {
  width: 40%;
}
.page-web .plan .how-we-work .pizza .center img {
  width: 400px;
  height: 400px;
}
.page-web .plan .how-we-work .pizza .left {
  width: 25%;
}
.page-web .plan .saplya {
  position: relative;
  bottom: -334px;
  width: 1180px;
  height: 728px;
  padding: 82px 100px 148px 100px;
  background: #F2F9FF;
  border-radius: 60px;
}
.page-web .plan .saplya h3 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #313131;
}
.page-web .plan .saplya .steps {
  margin-top: 85px;
  width: 100%;
}
.page-web .plan .saplya .steps .big-txt {
  width: 28px;
  display: flex;
  justify-content: center;
  font-family: "MuseoSansCyrl-900", sans-serif;
  font-size: 34px;
  line-height: 40px;
  color: #1C54FC;
  margin-right: 15px;
}
.page-web .plan .saplya .steps p {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 60px;
}
.page-web .plan .saplya .take-plan div {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  background: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
  border-radius: 50%;
}
.page-web .plan .saplya .take-plan div:hover {
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-web .price-uslug {
  background: #313131;
  border-radius: 60px 60px 0 0;
  padding-top: 130px;
  margin-top: 600px;
}
.page-web .price-uslug h3 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 100px;
}
.page-web .price-uslug h3:last-child {
  margin-top: 130px;
}
.page-web .price-uslug .uslugi .box {
  width: 580px;
  padding: 60px 50px 67px 60px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 60px;
}
.page-web .price-uslug .uslugi .box h4 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0;
}
.page-web .price-uslug .uslugi .box .price {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #1C54FC;
  margin-top: 53px;
  margin-bottom: 0;
}
.page-web .price-uslug .uslugi .box p {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
  margin-top: 45px;
  margin-bottom: 0;
}
.page-web .price-uslug .uslugi .box a div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 17px 40px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #1C54FC;
  border: 3px solid #1C54FC;
  border-radius: 60px;
  transition: 0.2s;
}
.page-web .price-uslug .uslugi .box a:hover div {
  background-color: #1C54FC;
  color: #FFFFFF;
  transition: 0.2s;
}
.page-web .price-uslug .free {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 130px;
}
.page-web .price-uslug .free .left {
  width: 50%;
}
.page-web .price-uslug .free .left .big-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
}
.page-web .price-uslug .free .left .small-txt {
  font-family: "GraphikLCG-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
}
.page-web .price-uslug .free .right {
  width: 50%;
}
.page-web .price-uslug .free .right a div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 17px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #1C54FC;
  border: 3px solid #1C54FC;
  border-radius: 60px;
  transition: 0.2s;
}
.page-web .price-uslug .free .right a:hover div {
  background-color: #1C54FC;
  color: #FFFFFF;
  transition: 0.2s;
}
.page-web .price-uslug .boxiki {
  width: 380px;
  height: 380px;
  background: #FFFFFF;
  border-radius: 8px;
}
.page-web .price-uslug .line {
  width: 100%;
  height: 10px;
  background: #666666;
  border-radius: 8px;
  margin-top: 140px;
}
.page-web .price-uslug .kara-shapan {
  position: absolute;
  width: 100%;
  height: 73px;
  background-color: #313131;
}

@media screen and (max-device-width: 992px) {
  .page-web .header .left {
    width: 100%;
  }
  .page-web .header .left .big-txt {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .page-web .header .left .small-txt {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .page-web .header .right a div {
    width: 120px;
    height: 120px;
    font-size: 12px;
    line-height: 12px;
  }
  .page-web .plan {
    margin-top: 80px;
    padding-top: 80px;
    border-radius: 30px;
  }
  .page-web .plan .how-we-work .head-box h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 70px;
  }
  .page-web .plan .how-we-work .box {
    margin-top: 80px;
  }
  .page-web .plan .how-we-work .box h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 70px;
  }
  .page-web .plan .how-we-work .list .big-txt {
    width: 100%;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
  }
  .page-web .plan .how-we-work .list .big-txt span {
    line-height: 0;
  }
  .page-web .plan .how-we-work .list .boxiha {
    padding-left: 64px;
    width: 100%;
    margin-top: 50px;
  }
  .page-web .plan .how-we-work .list .boxiha .main-txt {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .page-web .plan .how-we-work .list .boxiha .txt {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .page-web .plan .head-txt {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }
  .page-web .plan .stairs .box {
    width: 100%;
  }
  .page-web .plan .stairs .box img {
    width: 102px;
    height: 102px;
  }
  .page-web .plan .stairs .box .txt-box {
    margin-left: 20px;
  }
  .page-web .plan .stairs .box .txt-box .big-txt {
    font-size: 18px;
    line-height: 18px;
  }
  .page-web .plan .stairs .box .txt-box .small-txt {
    font-size: 16px;
    line-height: 16px;
  }
  .page-web .plan .saplya {
    width: 100%;
    border-radius: 30px;
    padding: 80px 15px 100px;
    height: auto;
    bottom: -75px;
  }
  .page-web .plan .saplya h3 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .page-web .plan .saplya .steps {
    margin-top: 30px;
  }
  .page-web .plan .saplya .steps .big-txt {
    font-size: 25px;
    line-height: 29px;
  }
  .page-web .plan .saplya .steps p {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 35px;
  }
  .page-web .plan .saplya .take-plan {
    position: absolute;
    bottom: -60px;
    right: 20px;
  }
  .page-web .plan .saplya .take-plan div {
    width: 120px;
    height: 120px;
    font-size: 14px;
    line-height: 14px;
  }
  .page-web .price-uslug {
    background: #313131;
    border-radius: 30px 30px 0 0;
    margin-top: 180px;
  }
  .page-web .price-uslug h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .page-web .price-uslug .uslugi {
    margin-bottom: 50px;
  }
  .page-web .price-uslug .uslugi .box {
    width: 100%;
    padding: 35px 22px;
    margin-bottom: 20px;
  }
  .page-web .price-uslug .uslugi .box h4 {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
  .page-web .price-uslug .uslugi .box .price {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .page-web .price-uslug .uslugi .box p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 16px;
  }
  .page-web .price-uslug .uslugi .box a div {
    padding: 15px 0;
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
  .page-web .price-uslug .free {
    padding: 35px 21px 30px 23px;
  }
  .page-web .price-uslug .free .left {
    width: 100%;
  }
  .page-web .price-uslug .free .left .big-txt {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .page-web .price-uslug .free .left .small-txt {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .page-web .price-uslug .free .right {
    width: 100%;
  }
  .page-web .price-uslug .free .right a {
    width: 100%;
  }
  .page-web .price-uslug .free .right a div {
    padding: 15px 0;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
  .page-web .price-uslug .boxiki {
    width: 100%;
    margin-bottom: 20px;
  }
}
.page-marketing {
  margin-top: 112px;
}
.page-marketing .header .left {
  width: 50%;
}
.page-marketing .header .left .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 35px;
}
.page-marketing .header .left .heduha .big {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 5px;
}
.page-marketing .header .left .heduha .small {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 25px;
}
.page-marketing .header .right a div {
  width: 180px;
  height: 180px;
  background-color: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}
.page-marketing .header .right a div:hover {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-marketing .info {
  margin-top: 180px;
  margin-bottom: 500px;
  padding-top: 150px;
  background: #313131;
  border-radius: 60px;
}
.page-marketing .info .head-title {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 75px;
}
.page-marketing .info .head-title span {
  font-family: "GraphikLCG-Medium", sans-serif;
  color: #1C54FC;
}
.page-marketing .info .steps {
  position: -webkit-sticky;
  position: sticky;
}
.page-marketing .info .steps .step {
  position: relative;
  width: 380px;
  height: 189px;
  padding: 40px;
  margin-bottom: 30px;
  background: #313131;
  border: 2px solid #1C54FC;
  cursor: pointer;
  transition: 0.2s;
}
.page-marketing .info .steps .step::before {
  content: "";
  display: none;
  width: 190px;
  height: 99px;
  position: absolute;
  background: #1C54FC;
  left: -5px;
  top: -5px;
  z-index: -1;
}
.page-marketing .info .steps .step::after {
  content: "";
  display: none;
  width: 190px;
  height: 99px;
  position: absolute;
  background: #1C54FC;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.page-marketing .info .steps .step object {
  width: 48px;
  height: 48px;
  margin-bottom: 25px;
}
.page-marketing .info .steps .step .text {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F5F5F5;
}
.page-marketing .info .steps .step .text2 {
  display: none;
  width: 330px;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #F5F5F5;
}
.page-marketing .info .steps .step:hover {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-marketing .info .steps .step:hover::before {
  display: block;
  left: -5px;
  top: -5px;
}
.page-marketing .info .steps .step:hover::after {
  display: block;
  right: -5px;
  bottom: -5px;
}
.page-marketing .info .steps .step:hover .hitman {
  display: none;
}
.page-marketing .info .steps .step:hover .text2 {
  display: block;
}
.page-marketing .info .daniar {
  margin-top: 50px;
  margin-bottom: 75px;
}
.page-marketing .info .daniar img {
  width: 440px;
  height: 440px;
}
.page-marketing .info .daniar .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #F5F5F5;
  margin-bottom: 25px;
}
.page-marketing .info .daniar .small-txt {
  width: 580px;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #F5F5F5;
}
.page-marketing .info .team {
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 70px;
}
.page-marketing .info .team .item {
  width: 280px;
  height: 230px;
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
  background: #666666;
  border-radius: 8px;
  cursor: pointer;
}
.page-marketing .info .team .item .big {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #F5F5F5;
  margin-bottom: 10px;
}
.page-marketing .info .team .item .small {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: #F5F5F5;
}
.page-marketing .info .team .item:nth-child(n+5) {
  height: 176px;
}
.page-marketing .info .team .item:nth-child(n+5)::before {
  width: 185px;
  height: 145px;
}
.page-marketing .info .team .item::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 185px;
  height: 185px;
  left: -5px;
  bottom: -5px;
  background: #1C54FC;
  border-radius: 8px;
}
.page-marketing .info .team .item:hover::before {
  left: 100px;
  bottom: 50px;
  transition: all 0.1s linear;
}
.page-marketing .info .team .item:hover:nth-child(n+5)::before {
  left: 100px;
  bottom: 36px;
  transition: all 0.1s linear;
}
.page-marketing .info .sales .sale {
  margin-bottom: 50px;
}
.page-marketing .info .sales .sale .text-block {
  width: 485px;
}
.page-marketing .info .sales .sale .text-block .big {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.page-marketing .info .sales .sale .text-block .big span {
  color: #1C54FC;
}
.page-marketing .info .sales .sale .text-block .small {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: #F5F5F5;
}
.page-marketing .info .sales .sale img {
  width: 480px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
.page-marketing .info .sales .sale:nth-child(2n) .text-block {
  margin-right: 95px;
}
.page-marketing .info .saplya {
  position: relative;
  bottom: -334px;
  width: 1180px;
  height: 668px;
  padding: 82px 100px 148px 100px;
  background: #F2F9FF;
  border-radius: 60px;
}
.page-marketing .info .saplya h3 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #313131;
}
.page-marketing .info .saplya h3 span {
  color: #1C54FC;
}
.page-marketing .info .saplya .steps {
  margin-top: 85px;
  width: 100%;
}
.page-marketing .info .saplya .steps .left, .page-marketing .info .saplya .steps .right {
  width: 380px;
  height: 224px;
}
.page-marketing .info .saplya .steps .big-txt {
  font-family: "MuseoSansCyrl-900", sans-serif;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #1C54FC;
  margin-right: 14px;
}
.page-marketing .info .saplya .steps p {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.page-marketing .info .saplya .take-plan {
  margin-top: 135px;
}
.page-marketing .info .saplya .take-plan div {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  background: #1C54FC;
  border: 1px solid #1C54FC;
  transition: 0.2s;
  border-radius: 50%;
}
.page-marketing .info .saplya .take-plan div:hover {
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  transition: 0.2s;
}
.page-marketing .price-uslug {
  background: #313131;
  border-radius: 60px 60px 0 0;
  padding-top: 130px;
}
.page-marketing .price-uslug h3 {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 100px;
}
.page-marketing .price-uslug h3:last-child {
  margin-top: 130px;
}
.page-marketing .price-uslug .uslugi {
  margin-bottom: 130px;
}
.page-marketing .price-uslug .uslugi .box {
  width: 580px;
  padding: 60px 50px 67px 60px;
  background: #FFFFFF;
  border-radius: 8px;
}
.page-marketing .price-uslug .uslugi .box h4 {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0;
}
.page-marketing .price-uslug .uslugi .box .price {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #1C54FC;
  margin-top: 53px;
  margin-bottom: 0;
}
.page-marketing .price-uslug .uslugi .box p {
  font-family: "GraphikLCG-Light", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
  margin-top: 45px;
  margin-bottom: 0;
}
.page-marketing .price-uslug .uslugi .box a div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 17px 40px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #1C54FC;
  border: 3px solid #1C54FC;
  border-radius: 60px;
  transition: 0.2s;
}
.page-marketing .price-uslug .uslugi .box a:hover div {
  background-color: #1C54FC;
  color: #FFFFFF;
  transition: 0.2s;
}
.page-marketing .price-uslug .boxiki {
  width: 380px;
  height: 380px;
  background: #FFFFFF;
  border-radius: 8px;
}
.page-marketing .price-uslug .line {
  width: 100%;
  height: 10px;
  background: #666666;
  border-radius: 8px;
  margin-top: 140px;
}
.page-marketing .price-uslug .kara-shapan {
  position: absolute;
  width: 100%;
  height: 73px;
  background-color: #313131;
}

@media screen and (max-device-width: 992px) {
  .page-marketing .price-uslug {
    background: #313131;
    border-radius: 30px 30px 0 0;
  }
  .page-marketing .price-uslug h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .page-marketing .price-uslug .uslugi {
    margin-bottom: 50px;
  }
  .page-marketing .price-uslug .uslugi .box {
    width: 100%;
    padding: 35px 22px;
    margin-bottom: 20px;
  }
  .page-marketing .price-uslug .uslugi .box h4 {
    font-family: "GraphikLCG-Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
  .page-marketing .price-uslug .uslugi .box .price {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .page-marketing .price-uslug .uslugi .box p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 16px;
  }
  .page-marketing .price-uslug .uslugi .box a div {
    padding: 15px 0;
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
  .page-marketing .price-uslug .boxiki {
    width: 100%;
    margin-bottom: 20px;
  }
}
.page_success {
  margin-top: 100px;
  margin-bottom: 100px;
}
.page_success .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 20px;
}
.page_success .small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 74px;
}
.page_success .modal-line {
  width: 100%;
  border: 2px solid #F5F5F5;
  margin-bottom: 30px;
}
.page_success .insta {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #F5F5F5;
  margin-bottom: 15px;
}
.page_success a i {
  font-size: 44px;
  line-height: 44px;
  color: #F5F5F5;
}

@media screen and (max-device-width: 992px) {
  .page_success .big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .page_success .small-txt {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .page_success .insta {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
#modalRequest .modal-dialog {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: none;
}
#modalRequest .modal-dialog .modal-content {
  border-radius: 60px;
  background: #313131;
}
#modalRequest .modal-dialog .modal-content .modalka {
  width: 860px;
  height: 550px;
  background: #F5F5F5;
  border-radius: 60px;
}
#modalRequest .modal-dialog .modal-content .modalka .left {
  width: 50%;
  background: #313131;
  border-radius: 60px;
  padding-left: 46px;
  padding-right: 46px;
}
#modalRequest .modal-dialog .modal-content .modalka .left .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #F5F5F5;
  margin-bottom: 30px;
}
#modalRequest .modal-dialog .modal-content .modalka .left .small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #F5F5F5;
}
#modalRequest .modal-dialog .modal-content .modalka .right {
  width: 50%;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #F5F5F5;
  border-radius: 60px;
}
#modalRequest .modal-dialog .modal-content .modalka .right label {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #313131;
}
#modalRequest .modal-dialog .modal-content .modalka .right input {
  height: 42px;
  border: none;
  border-bottom: 1px solid #313131;
  background-color: #F5F5F5;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 55px;
}
#modalRequest .modal-dialog .modal-content .modalka .right button {
  width: 100%;
  height: 56px;
  background: #1C54FC;
  border-color: #1C54FC;
  border-radius: 10px;
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
#modalRequest .modal-dialog .modal-content .modalka .right div:last-child input {
  margin-bottom: 35px;
}

#modalSuccess .modal-dialog {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: none;
}
#modalSuccess .modal-dialog .modal-content {
  border-radius: 60px;
  background: #313131;
}
#modalSuccess .modal-dialog .modal-content .modalka {
  width: 860px;
  height: 550px;
  padding-top: 150px;
  background: #313131;
  border-radius: 60px;
}
#modalSuccess .modal-dialog .modal-content .modalka .big-txt {
  font-family: "GraphikLCG-Medium", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 20px;
}
#modalSuccess .modal-dialog .modal-content .modalka .small-txt {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #F5F5F5;
  margin-bottom: 74px;
}
#modalSuccess .modal-dialog .modal-content .modalka .modal-line {
  width: 100%;
  border: 2px solid #F5F5F5;
  margin-bottom: 30px;
}
#modalSuccess .modal-dialog .modal-content .modalka .insta {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #F5F5F5;
  margin-bottom: 15px;
}
#modalSuccess .modal-dialog .modal-content .modalka a i {
  font-size: 44px;
  line-height: 44px;
  color: #F5F5F5;
}

@media screen and (max-device-width: 992px) {
  #modalRequest .modal-dialog {
    width: 100%;
    margin-left: 0;
  }
  #modalRequest .modal-dialog .modal-content .modalka {
    width: 100%;
  }
  #modalRequest .modal-dialog .modal-content .modalka .left {
    width: 100%;
    padding: 50px 20px 40px;
    border-radius: 30px;
  }
  #modalRequest .modal-dialog .modal-content .modalka .left .big-txt {
    font-size: 30px;
    line-height: 30px;
  }
  #modalRequest .modal-dialog .modal-content .modalka .left .small-txt {
    font-size: 20px;
    line-height: 20px;
  }
  #modalRequest .modal-dialog .modal-content .modalka .right {
    width: 100%;
    padding: 40px 20px 30px;
    border-radius: 30px;
  }
  #modalRequest .modal-dialog .modal-content .modalka .right label {
    font-size: 20px;
    line-height: 20px;
  }
  #modalRequest .modal-dialog .modal-content .modalka .right button {
    font-size: 18px;
    line-height: 18px;
  }

  #modalSuccess .modal-dialog {
    width: 100%;
    margin-left: 0;
  }
  #modalSuccess .modal-dialog .modal-content {
    border-radius: 30px;
  }
  #modalSuccess .modal-dialog .modal-content .modalka {
    width: 100%;
    border-radius: 30px;
  }
  #modalSuccess .modal-dialog .modal-content .modalka .big-txt {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  #modalSuccess .modal-dialog .modal-content .modalka .small-txt {
    font-size: 20px;
    line-height: 20px;
  }
  #modalSuccess .modal-dialog .modal-content .modalka .insta {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
