/*MuseoSansCyrl*/

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('/fonts/MuseoSansCyrl-500.eot');
    src: local('MuseoSansCyrl-500'), local('MuseoSansCyrl-500'),
    url('/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('/fonts/MuseoSansCyrl-700.eot');
    src: local('MuseoSansCyrl-700'), local('MuseoSansCyrl-700'),
    url('/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url('/fonts/MuseoSansCyrl-900.eot');
    src: local('MuseoSansCyrl-900'), local('MuseoSansCyrl-900'),
    url('/fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-900.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/*GraphikLCG*/

@font-face {
    font-family: 'GraphikLCG-Light';
    src: url('/fonts/GraphikLCG-Light.eot');
    src: local('GraphikLCG-Light'), local('GraphikLCG-Light'),
    url('/fonts/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GraphikLCG-Light.woff') format('woff'),
    url('/fonts/GraphikLCG-Light.woff2') format('woff2'),
    url('/fonts/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('/fonts/GraphikLCG-Regular.eot');
    src: local('GraphikLCG-Regular'), local('GraphikLCG-Regular'),
    url('/fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GraphikLCG-Regular.woff') format('woff'),
    url('/fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('/fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Medium';
    src: url('/fonts/GraphikLCG-Medium.eot');
    src: local('GraphikLCG-Medium'), local('GraphikLCG-Medium'),
    url('/fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GraphikLCG-Medium.woff') format('woff'),
    url('/fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('/fonts/GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('/fonts/GraphikLCG-Semibold.eot');
    src: local('GraphikLCG-Semibold'), local('GraphikLCG-Semibold'),
    url('/fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GraphikLCG-Semibold.woff') format('woff'),
    url('/fonts/GraphikLCG-Semibold.woff2') format('woff2'),
    url('/fonts/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
