#modalRequest {
    .modal-dialog {
        width: max-content;
        max-width: none;

        .modal-content {
            border-radius: 60px;
            background: #313131;

            .modalka {
                width: 860px;
                height: 550px;
                background: #F5F5F5;
                border-radius: 60px;

                .left {
                    width: 50%;
                    background: #313131;
                    border-radius: 60px;
                    padding-left: 46px;
                    padding-right: 46px;

                    .big-txt {
                        font-family: 'GraphikLCG-Medium', sans-serif;
                        font-size: 50px;
                        line-height: 50px;

                        color: #F5F5F5;

                        margin-bottom: 30px;
                    }

                    .small-txt {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 26px;
                        line-height: 26px;

                        color: #F5F5F5;
                    }
                }

                .right {
                    width: 50%;
                    padding-top: 60px;
                    padding-left: 40px;
                    padding-right: 40px;
                    background: #F5F5F5;
                    border-radius: 60px;

                    label {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 26px;
                        line-height: 26px;

                        color: #313131;
                    }

                    input {
                        height: 42px;
                        border: none;
                        border-bottom: 1px solid #313131;
                        background-color: #F5F5F5;
                        border-radius: 0;
                        box-shadow: none;

                        margin-bottom: 55px;
                    }

                    button {
                        width: 100%;
                        height: 56px;

                        background: #1C54FC;
                        border-color: #1C54FC;
                        border-radius: 10px;

                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 24px;
                        line-height: 24px;

                        color: #FFFFFF;
                    }

                    div:last-child {
                        input {
                            margin-bottom: 35px;
                        }
                    }
                }
            }
        }
    }
}

#modalSuccess {
    .modal-dialog {
        width: max-content;
        max-width: none;

        .modal-content {
            border-radius: 60px;
            background: #313131;

            .modalka {
                width: 860px;
                height: 550px;
                padding-top: 150px;
                background: #313131;
                border-radius: 60px;

                .big-txt {
                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-size: 50px;
                    line-height: 50px;
                    text-align: center;

                    color: #F5F5F5;

                    margin-bottom: 20px;
                }

                .small-txt {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;

                    color: #F5F5F5;

                    margin-bottom: 74px;
                }

                .modal-line {
                    width: 100%;
                    border: 2px solid #F5F5F5;
                    margin-bottom: 30px;
                }

                .insta {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 26px;
                    line-height: 26px;

                    color: #F5F5F5;

                    margin-bottom: 15px;
                }

                a {
                    i {
                        font-size: 44px;
                        line-height: 44px;
                        color: #F5F5F5;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    #modalRequest {
        .modal-dialog {
            width: 100%;
            margin-left: 0;

            .modal-content {
                .modalka {
                    width: 100%;

                    .left {
                        width: 100%;
                        padding: 50px 20px 40px;
						border-radius: 30px;

                        .big-txt {
                            font-size: 30px;
                            line-height: 30px;
                        }

                        .small-txt {
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }

                    .right {
                        width: 100%;
                        padding: 40px 20px 30px;
						border-radius: 30px;

                        label {
                            font-size: 20px;
                            line-height: 20px;
                        }

                        button {
                            font-size: 18px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }

    #modalSuccess {
        .modal-dialog {
            width: 100%;
            margin-left: 0;

            .modal-content {
                border-radius: 30px;

                .modalka {
                    width: 100%;
                    border-radius: 30px;

                    .big-txt {
                        font-size: 30px;
                        line-height: 30px;

                        margin-bottom: 25px;
                    }

                    .small-txt {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    .insta {
                        padding-left: 20px;
                        padding-right: 20px;
                        font-size: 20px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

