.page-cases {
    margin-top: 100px;
    margin-bottom: 70px;

    h2 {
        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 160px;
        line-height: 100%;

        color: #313131;

        margin-bottom: 0;
    }

    .small-txt {
        width: 474px;

        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 20px;
        line-height: 20px;

        color: #666666;

        margin-bottom: 27px;
    }

    .block-2 {
        margin-top: 70px;

        .top {
            margin-bottom: 20px;
        }

        .center2 {
            margin-left: 20px;
        }

        .case1, .case2, .case3, .case4, .case5, .case6, .case7, .case8 {
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;
            transition: all 1s linear;

            .gif {
                width: 100%;
                height: 100%;
                bottom: 0;
                transition: all 0.2s linear;
            }

            &:hover {
                .gif {
                    transition: all 0.2s linear;
                }
            }

            p {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 24px;
                color: #000000;

                margin-bottom: 0;
                display: none;
                transition: 0.2s;
            }

            &:hover {
                p {
                    display: block;
                    transition: 0.2s;
                }
            }
        }

        .case1 {
            width: 280px;
            height: 500px;

            &:hover {
                .gif1 {
                    bottom: 80px;
                }
            }
        }

        .case2 {
            width: 570px;
            height: 270px;

            &:hover {
                .gif2 {
                    bottom: 80px;
                }
            }
        }

        .case3 {
            width: 570px;
            height: 210px;

            &:hover {
                .gif3 {
                    bottom: 40px;
                }
            }
        }

        .case4 {
            width: 280px;
            height: 200px;

            &:hover {
                .gif4 {
                    bottom: 40px;
                }
            }
        }

        .case5 {
            width: 280px;
            height: 280px;

            &:hover {
                .gif5 {
                    bottom: 80px;
                }
            }
        }

        .case6 {
            width: 380px;
            height: 450px;

            &:hover {
                .gif6 {
                    bottom: 80px;
                }
            }
        }

        .case7 {
            width: 341px;
            height: 215px;

            &:hover {
                .gif7 {
                    bottom: 40px;
                }
            }
        }

        .case8 {
            width: 341px;
            height: 215px;

            &:hover {
                .gif8 {
                    bottom: 80px;
                }
            }
        }
    }
}


@media screen and (max-device-width: 992px) {
    .page-cases {
        h2 {
            font-size: 64px;
            line-height: 64px;

            margin-bottom: 30px;
        }

        .small-txt {
            width: 100%;
        }

        .block-2 {
            margin-bottom: 20px;

            .center2 {
                margin-left: 0;
            }

            .case1, .case2, .case3, .case4, .case5, .case6, .case7, .case8 {
                &:hover {
                    .gif {
                        bottom: 0;
                    }
                }
            }

            .case4 {
                margin-bottom: 20px;
            }

            .case6 {
                width: -moz-available;
            }

            .case7 {
                margin-bottom: 20px;
            }

            .center {
                width: 100%;

                .case2 {
                    width: 100%;
                    height: 200px;
                }

                .case3 {
                    width: 100%;
                    height: 180px;
                }
            }
        }
    }
}
