.page-decision {
    margin-top: 100px;

    .header {
        height: 300px;
        margin-bottom: 180px;

        .left {
            width: 66%;

            h1 {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 42px;
                line-height: 42px;

                color: #000000;

                margin-bottom: 35px;
            }

            p.desc {
                font-family: 'GraphikLCG-Light', sans-serif;
                font-size: 35px;
                line-height: 35px;

                color: #000000;
            }
        }

        .right {
            width: 34%;

            a {
                width: 180px;
                height: 180px;
                border-radius: 50%;
                border: 1px solid #1C54FC;
                background: #1C54FC;
                transition: 0.2s;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 24px;
                line-height: 30px;

                color: #FFFFFF;

                svg {
                    height: 25px;
                    transform: rotate(-135deg);
                    fill: #FFFFFF;
                }

                &:hover {
                    background-color: transparent;
                    color: #000000;
                    border: 1px solid #000000;
                    transition: 0.2s;

                    svg {
                        fill: #000000;
                    }
                }
            }
        }
    }

    .santa {
        height: 850px;
        background: #313131;
        border-radius: 60px;

        .box {
            background-image: url("/img/star.png");
            background-position: 10%;
            background-repeat: no-repeat;
            background-size: 400px 400px;
        }

        div {
            height: 100%;
        }

        .left {
            width: 50%;
        }

        .right {
            width: 50%;

            p.big-txt {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 39px;
                line-height: 39px;

                color: #F5F5F5;

                margin-bottom: 40px;
            }

            p.small-txt {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 23px;
                line-height: 23px;

                color: #F5F5F5;

                margin-bottom: 0;
            }
        }
    }

    .paket {
        margin-top: 150px;

        .header2 {

            .left {
                width: 40%;

                .big-txt {
                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 120%;

                    color: #000000;

                    margin-bottom: 0;
                }
            }

            .right {
                width: 680px;

                .small-txt {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 26px;
                    line-height: 110%;

                    color: #000000;

                    margin-bottom: 0;
                }
            }
        }

        .paket-uslug {
            margin-top: 190px;
            margin-bottom: 160px;

            h2 {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 42px;
                line-height: 42px;

                text-align: center;

                color: #313131;

                margin-bottom: 60px;
            }

            .paket-header {
                div {
                    height: 57px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #666666;
                }

                .lite {
                    width: 130px;
                    background: #C9FFC8;
                    border-radius: 15px 0 0 0;
                }

                .standard {
                    width: 132px;
                    background: #FEFFC8;
                }

                .optimal {
                    width: 300px;
                    background: #C8E6FF;
                }

                .premium {
                    width: 299px;
                    background: #F2F9FF;
                    border-radius: 0 15px 0 0;
                }
            }

            .paket-footer {
                border-top: 1px solid #D7D7D7;

                div {
                    height: 62px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'MuseoSansCyrl-700', sans-serif;
                    font-size: 20px;
                    line-height: 23px;

                    text-align: center;

                    color: #666666;

                    p {
                        margin-bottom: 0;
                    }
                }

                .price {
                    width: 319px;
                    justify-content: start;
                    color: #313131;
                }

                .lite {
                    width: 130px;
                    background: #C9FFC8;
                    border-radius: 0 0 0 15px;
                    color: #666666;
                }

                .standard {
                    width: 132px;
                    background: #FEFFC8;
                    color: #666666;
                }

                .optimal {
                    width: 300px;
                    background: #C8E6FF;
                    color: #313131;
                }

                .premium {
                    width: 299px;
                    background: #F2F9FF;
                    border-radius: 0 0 15px 0;
                    color: #1C54FC;
                }
            }

            .paket-line {
                width: 100%;
                height: 50px;

                .p-line {
                    border-top: 1px solid #D7D7D7;
                    height: 100%;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 20px;
                        line-height: 20px;

                        p {
                            margin-bottom: 0;
                        }
                    }

                    .l-1 {
                        width: 319px;
                        color: #313131;
                        justify-content: start;
                    }

                    .l-2 {
                        width: 130px;
                        background: #C9FFC8;
                        color: #666666;
                        text-align: center;
                    }

                    .l-3 {
                        width: 132px;
                        background: #FEFFC8;
                        color: #666666;
                        text-align: center;
                    }

                    .l-4 {
                        width: 300px;
                        background: #C8E6FF;
                        //padding-left: 35px;
                        //padding-right: 35px;
                        color: #313131;
                        text-align: center;
                    }

                    .l-5 {
                        width: 299px;
                        background: #F2F9FF;
                        //padding-left: 35px;
                        //padding-right: 35px;
                        color: #1C54FC;
                        text-align: center;
                    }
                }

                &:hover {
                    background-color: #1C54FC;

                    color: #F5F5F5 !important;

                    .p-line {
                        border-top: 1px solid #1C54FC;

                        div {
                            background-color: transparent;

                            color: #F5F5F5 !important;
                        }
                    }
                }
            }
        }
    }

    .express {
        margin-bottom: 100px;

        .left {
            width: 580px;
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 60px;
            line-height: 60px;

            color: #313131;
        }

        .right {
            width: 480px;

            p {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 20px;
                line-height: 115%;

                color: #313131;

                margin-bottom: 0;
            }

            a {
                width: 180px;
                height: 180px;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 24px;
                line-height: 115%;

                color: #FFFFFF;

                border-radius: 50%;
                background: #1C54FC;
                border: 1px solid #1C54FC;
                transition: 0.2s;

                svg {
                    height: 25px;
                    transform: rotate(-135deg);
                    fill: #FFFFFF;
                }

                &:hover {
                    background: transparent;
                    border: 1px solid #000000;
                    color: #000000;
                    transition: 0.2s;

                    svg {
                        fill: #000000;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 992px) {
    .page-decision {
        .header {
            margin-bottom: 80px;
            height: auto;

            .left {
                width: 100%;

                margin-bottom: 25px;

                h1 {
                    width: 90%;
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 30px;
                }

                p.desc {
                    font-size: 20px;
                    line-height: 20px;
                    margin-bottom: 0;
                }
            }

            .right {
                width: 100%;

                a {
                    width: 120px;
                    height: 120px;
                    font-size: 12px;
                    line-height: 12px;

                    svg {
                        height: 12px;
                    }
                }
            }
        }

        .santa {
            height: 670px;
            border-radius: 30px;

            .left {
                display: none;
            }

            .box {
                background-image: url("/img/star2.png");
                background-position: center;
                background-size: 345px 345px;
            }

            .right {
                width: 100%;

                p.big-txt {
                    width: 75%;
                    font-size: 25px;
                    line-height: 25px;
                    text-align: center;
                    margin-bottom: 60px;
                }

                p.small-txt {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }

        .paket {
            width: 100%;
            margin-top: 80px;
            overflow-y: scroll;
            align-items: start;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            .header2 {
                .left {
                    width: 100%;

                    .big-txt {
                        font-family: 'GraphikLCG-Medium', sans-serif;
                        font-size: 30px;
                        line-height: 30px;

                        color: #313131;

                        margin-bottom: 25px;
                    }
                }

                .right {
                    width: 100%;
                    .small-txt {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 16px;
                        line-height: 115%;

                        color: #313131;

                    }
                }
            }

            .paket-uslug {
                margin-top: 100px;

                h2 {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }

        .express {
            margin-bottom: 70px;

            .left {
                width: 100%;
                font-size: 30px;
                line-height: 30px;

                margin-bottom: 25px;
            }

            .right {
                width: 100%;

                p {
                    font-size: 16px;
                    line-height: 115%;
                }

                a {
                    width: 102px;
                    height: 102px;
                    font-size: 12px;
                    line-height: 115%;

                    svg {
                        height: 15px;
                    }
                }
            }
        }
    }
}
