.block-1 {
    margin-top: 140px;

    h1 {
        font-family: 'GraphikLCG-Medium', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 72px;

        color: #FFFFFF;

        margin-bottom: 50px;
    }

    .right {
        width: 680px;

        h3 {
            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 24px;
            line-height: 24px;

            color: #D7D7D7;

            margin-bottom: 30px;
        }

        a {
            transition: 0.5s;

            &:hover {
                .animashka {
                    background-color: #1C54FC;
                    border-color: #1C54FC;
                    color: #FFFFFF;
                    transition: left 0.5s;

                    .kruglyashka {
                        left: 444px;
                        transition: 0.5s;
                    }
                }
            }

            .animashka {
                width: 500px;
                height: 56px;
                transition: 0.5s;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid #D7D7D7;
                border-radius: 60px;

                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 20px;
                line-height: 20px;

                color: #D7D7D7;


                .kruglyashka {
                    width: 56px;
                    height: 56px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    position: absolute;
                    left: 0;
                    transition: 0.5s;

                    border-radius: 50%;
                    background-color: #D7D7D7;

                    font-size: 25px;
                    color: #313131;

                    svg {
                        height: 25px;
                        transform: rotate(-90deg);
                    }
                }

                p {
                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-size: 20px;
                    line-height: 20px;


                    color: #D7D7D7;
                    margin-bottom: 0;
                }
            }
        }

        .strelka-vniz {
            width: 80px;
            height: 80px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 25px;
            color: #D7D7D7;

            border-radius: 50%;
            border: 2px solid #D7D7D7;

            svg {
                height: 30px;
            }
        }
    }

    .row {
        .col-1 {
            .box {
                width: 80px;
                height: 80px;
                border: 1px solid #D7D7D7;
                border-radius: 50%;

                .bi-arrow-down {
                    color: #D7D7D7;
                    font-size: 30px;

                }
            }
        }
    }

    .line {
        margin-top: 58px;
        width: 100%;
        height: 10px;
        background-color: #666666;
        border-radius: 8px;
    }
}

.block-2 {
    margin-top: 70px;

    #case1, #case2, #case3, #case4, #case5 {
        position: absolute;
        text-align: center;
        z-index: 999;
        display: none;
    }

    .case1, .case2, .case3, .case4, .case5 {
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        transition: all 1s linear;

        .gif {
            width: 100%;
            height: 100%;
            bottom: 0;
            transition: all 0.2s linear;
        }

        &:hover {
            .gif {
                transition: all 0.2s linear;
            }
        }

        p {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 24px;
            color: #ffffff;

            margin-bottom: 0;
            display: none;
            transition: 0.2s;
        }

        &:hover {
            p {
                display: block;
                transition: 0.2s;
            }
        }
    }

    .case1 {
        width: 280px;
        height: 500px;

        &:hover {
            .gif1 {
                bottom: 80px;
            }
        }
    }

    .case2 {
        width: 570px;
        height: 270px;

        &:hover {
            .gif2 {
                bottom: 80px;
            }
        }
    }

    .case3 {
        width: 570px;
        height: 210px;

        &:hover {
            .gif3 {
                bottom: 40px;
            }
        }
    }

    .case4 {
        width: 280px;
        height: 200px;

        &:hover {
            .gif4 {
                bottom: 40px;
            }
        }
    }

    .case5 {
        width: 280px;
        height: 280px;

        &:hover {
            .gif5 {
                bottom: 80px;
            }
        }
    }
}

.block-3 {
    width: 100%;
    padding: 78px 127px 84px 60px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-top: 70px;

    .left {
        width: 480px;

        .big-txt {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 60px;
            line-height: 60px;

            color: #313131;

            margin-bottom: 48px;
        }

        .small-txt {
            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 20px;
            line-height: 120%;

            color: #313131;

            margin-bottom: 0;
        }
    }

    .right {
        a {
            padding: 18px 27px;
            width: max-content;

            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 28px;
            line-height: 120%;

            color: #313131;

            border-radius: 60px;

            margin-bottom: 14px;

            transition: 0.2s;

            &:hover {
                background-color: #1C54FC;
                color: #FFFFFF;
                transition: 0.2s;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.block-4 {
    margin-top: 65px;

    #paket_1, #paket_2, #paket_3, #paket_4, #paket_5 {

        .paket-1, .paket-2, .paket-3, .paket-4, .paket-5 {
            overflow: hidden;
            position: relative;

            p {
                font-family: "GraphikLCG-Medium", sans-serif;
                font-size: 24px;
                color: #ffffff;
                margin-bottom: 0;
            }

            video {
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                border-radius: 8px;
                transition: all 0.2s linear;
            }
        }

        &:hover {
            .paket-1, .paket-2, .paket-3, .paket-4, .paket-5 {
                video {
                    transition: all 0.2s linear;
                }
            }
        }
    }

    .left {
        width: 780px;

        .top {
            margin-bottom: 20px;

            #paket_1 {
                width: 380px;
                height: 240px;

                .paket-1 {
                    width: 380px;
                    height: 240px;
                }

                &:hover {
                    .paket-1 {
                        video {
                            bottom: 40px;
                        }
                    }
                }
            }

            #paket_2 {
                width: 380px;
                height: 240px;

                .paket-2 {
                    width: 380px;
                    height: 240px;
                }

                &:hover {
                    .paket-2 {
                        video {
                            bottom: 80px;
                        }
                    }
                }
            }
        }

        .center {
            width: 100%;

            margin-bottom: 20px;

            padding-top: 60px;
            padding-left: 60px;
            padding-bottom: 55px;

            background: #FFFFFF;
            border-radius: 60px;

            .big-txt {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 60px;
                line-height: 60px;

                color: #313131;

                margin-bottom: 20px;
            }

            .small-txt {
                width: 480px;

                font-family: 'GraphikLCG-Regular', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 120%;

                color: #313131;

                margin-bottom: 25px;
            }

            a {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 28px;
                line-height: 120%;
            }
        }

        .bottom {

            #paket_3 {
                width: 380px;
                height: 240px;

                .paket-3 {
                    width: 380px;
                    height: 240px;
                }

                &:hover {
                    .paket-3 {
                        video {
                            bottom: 40px;
                        }
                    }
                }
            }

            #paket_4 {
                width: 380px;
                height: 240px;

                .paket-4 {
                    width: 380px;
                    height: 240px;
                }

                &:hover {
                    .paket-4 {
                        video {
                            bottom: 80px;
                        }
                    }
                }
            }
        }
    }

    .right {
        width: 380px;
        height: auto;

        #paket_5 {
            width: 100%;
            height: 450px;

            .paket-5 {
                width: 100%;
                height: 450px;
            }

            &:hover {
                .paket-5 {
                    video {
                        bottom: 80px;
                    }
                }
            }
        }
    }
}

.block-5 {
    margin-top: 100px;

    h2 {
        color: #FFFFFF;
        width: 508px;
        font-size: 60px;
    }

    p {
        margin-top: 20px;
        color: #FFFFFF;
        width: 480px;
        font-size: 20px;
        position: relative;
    }

    a {
        .round {
            border-radius: 50%;
            width: 180px;
            height: 180px;
            background-color: #1C54FC;
            border: 1px solid #1C54FC;
            color: #FFFFFF;
            float: right;
            transition: 0.2s;

            h6 {
                font-size: 24px;
            }
        }

        &:hover {
            .round {
                background-color: transparent;
                border: 1px solid #FFFFFF;
                transition: 0.2s;
            }
        }
    }

    .flag {
        right: 0;
        bottom: -130px;

        svg {
            height: 25px;
            transform: rotate(-135deg);
        }
    }

}

.line {

    margin-top: 158px;
    width: 100%;
    height: 10px;
    background-color: #666666;
}

@media screen and (max-device-width: 992px) {
    .block-1 {
        h1 {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 30px;
        }

        .right {
            width: 100%;

            h3 {
                font-size: 20px;
                line-height: 20px;
            }

            a {
                .animashka {
                    width: 100%;
                    height: 48px;
                    padding-left: 30px;

                    font-size: 14px;
                    line-height: 14px;

                    .kruglyashka {
                        width: 48px;
                        height: 48px;
                    }
                }

                .strelka-vniz {
                    display: none;
                }
            }
        }
    }

    .block-2 {
        margin-bottom: 20px;

        .case1, .case2, .case3, .case4, .case5 {
            &:hover {
                .gif {
                    bottom: 0;
                }
            }
        }

        .case4 {
            margin-bottom: 20px;
        }

        .center {
            width: 100%;

            .case2 {
                width: 100%;
                height: 200px;
            }

            .case3 {
                width: 100%;
                height: 180px;
            }
        }
    }

    .block-3 {
        padding: 40px 22px 40px 25px;

        .left {
            width: 100%;
            margin-bottom: 40px;

            .big-txt {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 25px;
            }

            .small-txt {
                font-size: 16px;
                line-height: 120%;
            }
        }

        .right {
            width: 100%;

            a {
                padding: 0;

                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 20px;
                line-height: 120%;
                color: #1C54FC;

                margin-bottom: 40px;
            }
        }
    }

    .block-4 {

        #paket_1, #paket_2, #paket_3, #paket_4, #paket_5 {

            .paket-1, .paket-2, .paket-3, .paket-4, .paket-5 {

                p {
                    font-family: "GraphikLCG-Medium", sans-serif;
                    font-size: 24px;
                    color: #ffffff;
                    margin-bottom: 0;
                }

                video {
                    height: auto;
                }
            }

            &:hover {
                .paket-1, .paket-2, .paket-3, .paket-4, .paket-5 {
                    video {
                        transition: all 0.2s linear;
                    }
                }
            }
        }

        .left {
            width: 100%;

            .top {
                #paket_1 {
                    width: 100%;
                    height: auto;

                    .paket-1 {
                        width: 100%;
                    }
                }

                #paket_2 {
                    width: 100%;
                    height: auto;

                    .paket-2 {
                        width: 100%;
                    }
                }
            }

            .center {
                padding-top: 40px;
                padding-left: 25px;
                padding-bottom: 40px;
                border-radius: 30px;
                margin-bottom: 0;

                .big-txt {
                    font-size: 30px;
                    line-height: 30px;
                    margin-bottom: 25px;
                }

                .small-txt {
                    width: 100%;
                    font-size: 16px;
                    line-height: 120%;
                    margin-bottom: 40px;
                }

                a {
                    font-size: 20px;
                    line-height: 120%;
                }
            }
        }

        .right {
            width: 100%;

            #paket_5 {
                width: 100%;

                .paket-5 {
                    width: 100%;
                }

                &:hover {
                    .paket-5 {
                        video {
                            bottom: 70px;
                        }
                    }
                }
            }
        }
    }

    .block-5 {
        .row {
            display: block;

            .col-6 {
                width: 100%;

                h2 {
                    font-size: 30px;
                    width: 100%;
                }

                p {
                    font-size: 16px;
                    width: 100%;
                }

                .round {
                    width: 100px;
                    height: 100px;

                    h6 {
                        font-size: 12px;
                    }

                    svg {
                        height: 15px;
                    }
                }

            }

        }
    }
}
