.page-marketing {
    margin-top: 112px;

    .header {
        .left {
            width: 50%;

            .big-txt {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 42px;
                line-height: 42px;

                color: #000000;

                margin-bottom: 35px;
            }

            .heduha {
                .big {
                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-size: 24px;
                    line-height: 24px;

                    letter-spacing: 0.05em;

                    color: #000000;

                    margin-bottom: 5px;
                }

                .small {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 16px;
                    line-height: 16px;

                    color: #000000;

                    margin-bottom: 25px;
                }
            }
        }

        .right {
            a {
                div {
                    width: 180px;
                    height: 180px;
                    background-color: #1C54FC;
                    border: 1px solid #1C54FC;
                    transition: 0.2s;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 50%;

                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 22px;

                    color: #FFFFFF;

                    &:hover {
                        background-color: transparent;
                        border: 1px solid #000000;
                        color: #000000;
                        transition: 0.2s;
                    }

                }
            }
        }
    }

    .info {
        margin-top: 180px;
        margin-bottom: 500px;
        padding-top: 150px;
        background: #313131;
        border-radius: 60px;

        .head-title {
            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 42px;
            line-height: 42px;
            letter-spacing: 0.05em;

            color: #FFFFFF;

            span {
                font-family: 'GraphikLCG-Medium', sans-serif;
                color: #1C54FC;
            }

            margin-bottom: 75px;
        }

        .steps {
            position: sticky;

            .step {
                position: relative;

                width: 380px;
                height: 189px;

                padding: 40px;
                margin-bottom: 30px;

                background: #313131;

                border: 2px solid #1C54FC;

                cursor: pointer;

                transition: 0.2s;

                &::before {
                    content: "";
                    display: none;
                    width: 190px;
                    height: 99px;
                    position: absolute;
                    background: #1C54FC;
                    left: -5px;
                    top: -5px;
                    z-index: -1;
                }

                &::after {
                    content: "";
                    display: none;
                    width: 190px;
                    height: 99px;
                    position: absolute;
                    background: #1C54FC;
                    right: -5px;
                    bottom: -5px;
                    z-index: -1;
                }

                object {
                    width: 48px;
                    height: 48px;

                    margin-bottom: 25px;
                }

                .text {
                    font-family: 'GraphikLCG-Semibold', sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;

                    color: #F5F5F5;
                }

                .text2 {
                    display: none;

                    width: 330px;

                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 16px;
                    line-height: 130%;

                    color: #F5F5F5;
                }

                &:hover {
                    padding: 25px;


                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        display: block;
                        left: -5px;
                        top: -5px;
                    }

                    &::after {
                        display: block;
                        right: -5px;
                        bottom: -5px;
                    }

                    .hitman {
                        display: none;
                    }

                    .text2 {
                        display: block;
                    }
                }
            }
        }

        .daniar {
            margin-top: 50px;
            margin-bottom: 75px;

            img {
                width: 440px;
                height: 440px;
            }

            .big-txt {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 42px;
                line-height: 42px;
                letter-spacing: 0.05em;

                color: #F5F5F5;

                margin-bottom: 25px;
            }

            .small-txt {
                width: 580px;

                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 20px;
                line-height: 20px;

                color: #F5F5F5;
            }
        }

        .team {
            position: sticky;
            margin-bottom: 70px;

            .item {
                width: 280px;
                height: 230px;

                position: relative;

                padding: 30px;
                margin-bottom: 20px;

                background: #666666;
                border-radius: 8px;

                cursor: pointer;


                .big {
                    font-family: 'GraphikLCG-Semibold', sans-serif;
                    font-size: 16px;
                    line-height: 16px;

                    letter-spacing: 0.03em;

                    color: #F5F5F5;

                    margin-bottom: 10px;
                }

                .small {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 14px;
                    line-height: 130%;

                    color: #F5F5F5;
                }

                &:nth-child(n + 5) {
                    height: 176px;

                    &::before {
                        width: 185px;
                        height: 145px;
                    }
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;

                    width: 185px;
                    height: 185px;

                    left: -5px;
                    bottom: -5px;

                    background: #1C54FC;
                    border-radius: 8px;
                }

                &:hover {
                    &::before {
                        left: 100px;
                        bottom: 50px;
                        transition: all .1s linear;
                    }

                    &:nth-child(n + 5) {
                        &::before {
                            left: 100px;
                            bottom: 36px;
                            transition: all .1s linear;
                        }
                    }
                }
            }
        }

        .sales {
            .sale {
                margin-bottom: 50px;

                .text-block {
                    width: 485px;

                    .big {
                        font-family: 'GraphikLCG-Semibold', sans-serif;
                        font-size: 24px;
                        line-height: 24px;

                        letter-spacing: 0.03em;
                        text-transform: uppercase;

                        color: #FFFFFF;

                        margin-bottom: 20px;

                        span {
                            color: #1C54FC;
                        }
                    }

                    .small {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 18px;
                        line-height: 130%;

                        color: #F5F5F5;
                    }
                }

                img {
                    width: 480px;
                    height: 350px;

                    object-fit: cover;
                    object-position: center;

                    border-radius: 8px;
                }

                &:nth-child(2n) {
                    .text-block {
                        margin-right: 95px;
                    }
                }
            }
        }

        .saplya {
            position: relative;
            bottom: -334px;
            width: 1180px;
            height: 668px;
            padding: 82px 100px 148px 100px;
            background: #F2F9FF;
            border-radius: 60px;

            h3 {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 42px;
                line-height: 42px;
                text-align: center;

                color: #313131;

                span {
                    color: #1C54FC;
                }
            }

            .steps {
                margin-top: 85px;
                width: 100%;

                .left, .right {
                    width: 380px;
                    height: 224px;
                }

                .big-txt {
                    font-family: 'MuseoSansCyrl-900', sans-serif;
                    font-size: 34px;
                    line-height: 40px;
                    text-align: center;

                    color: #1C54FC;

                    margin-right: 14px;
                }

                p {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 18px;
                    line-height: 18px;

                    color: #000000;
                }
            }

            .take-plan {
                margin-top: 135px;

                div {
                    width: 180px;
                    height: 180px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #FFFFFF;

                    background: #1C54FC;
                    border: 1px solid #1C54FC;
                    transition: 0.2s;
                    border-radius: 50%;

                    &:hover {
                        background: transparent;
                        border: 1px solid #000000;
                        color: #000000;
                        transition: 0.2s;
                    }
                }
            }
        }
    }

    .price-uslug {
        background: #313131;
        border-radius: 60px 60px 0 0;
        padding-top: 130px;

        h3 {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 50px;
            line-height: 50px;

            color: #F5F5F5;

            margin-bottom: 100px;

            &:last-child {
                margin-top: 130px;
            }
        }

        .uslugi {
            margin-bottom: 130px;

            .box {
                width: 580px;
                padding: 60px 50px 67px 60px;
                background: #FFFFFF;
                border-radius: 8px;

                h4 {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 36px;
                    line-height: 36px;

                    color: #000000;

                    margin-bottom: 0;
                }

                .price {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 36px;
                    line-height: 36px;

                    color: #1C54FC;

                    margin-top: 53px;
                    margin-bottom: 0;
                }

                p {
                    font-family: 'GraphikLCG-Light', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #313131;

                    margin-top: 45px;
                    margin-bottom: 0;
                }

                a {
                    div {
                        width: max-content;
                        padding: 17px 40px;
                        margin-top: 45px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-family: 'GraphikLCG-Medium', sans-serif;
                        font-size: 22px;
                        line-height: 22px;

                        color: #1C54FC;

                        border: 3px solid #1C54FC;
                        border-radius: 60px;
                        transition: 0.2s;
                    }

                    &:hover {
                        div {
                            background-color: #1C54FC;
                            color: #FFFFFF;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }

        .boxiki {
            width: 380px;
            height: 380px;

            background: #FFFFFF;
            border-radius: 8px;
        }

        .line {
            width: 100%;
            height: 10px;
            background: #666666;
            border-radius: 8px;

            margin-top: 140px;
        }

        .kara-shapan {
            position: absolute;
            width: 100%;
            height: 73px;
            background-color: #313131;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .page-marketing {
        .price-uslug {
            background: #313131;
            border-radius: 30px 30px 0 0;

            h3 {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 50px;
            }

            .uslugi {
                margin-bottom: 50px;

                .box {
                    width: 100%;
                    padding: 35px 22px;
                    margin-bottom: 20px;

                    h4 {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 20px;
                        line-height: 20px;
                    }

                    .price {
                        margin-top: 15px;
                        font-size: 20px;
                        line-height: 20px;
                    }

                    p {
                        margin-top: 25px;
                        font-size: 16px;
                        line-height: 16px;
                    }

                    a {
                        div {
                            padding: 15px 0;
                            margin-top: 30px;
                            width: 100%;

                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }

            .boxiki {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}
