.page_success {
    margin-top: 100px;
    margin-bottom: 100px;

    .big-txt {
        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 50px;
        line-height: 50px;
        text-align: center;

        color: #F5F5F5;

        margin-bottom: 20px;
    }

    .small-txt {
        font-family: 'GraphikLCG-Regular', sans-serif;
        font-size: 26px;
        line-height: 26px;
        text-align: center;

        color: #F5F5F5;

        margin-bottom: 74px;
    }

    .modal-line {
        width: 100%;
        border: 2px solid #F5F5F5;
        margin-bottom: 30px;
    }

    .insta {
        font-family: 'GraphikLCG-Regular', sans-serif;
        font-size: 26px;
        line-height: 26px;

        color: #F5F5F5;

        margin-bottom: 15px;
    }

    a {
        i {
            font-size: 44px;
            line-height: 44px;
            color: #F5F5F5;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .page_success {
        .big-txt {
            font-size: 30px;
            line-height: 30px;

            margin-bottom: 25px;
        }

        .small-txt {
            font-size: 20px;
            line-height: 20px;

            margin-bottom: 40px;
        }

        .insta {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }
    }
}
