.page-vacancy {
    margin-top: 100px;

    h2 {
        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 124px;
        line-height: 124px;

        color: #313131;

        margin-bottom: 0;
    }

    .small-txt {
        width: 505px;

        font-family: 'GraphikLCG-Medium', sans-serif;
        font-size: 20px;
        line-height: 20px;

        color: #666666;

        margin-bottom: 19px;
    }

    .vacancy {
        margin-top: 245px;

        div.header {
            border-top: 1px solid #666666;
            height: 140px;

            p.header {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 60px;
                line-height: 60px;

                color: #313131;

                margin-bottom: 0;

            }
        }

        .vacancies {
            .accordion {
                .accordion-item {
                    border: none;

                    .accordion-button {
                        padding: 0;
                        transition: 1s;

                        &::after {
                            background: none;
                            width: 0;
                            height: 0;
                            display: none;
                        }

                        .content {
                            height: 140px;
                            padding: 0 0 0 100px;
                            transition: 1s;
                            border-top: 1px solid #666666;

                            h3 {
                                font-family: 'GraphikLCG-Medium',  sans-serif;
                                font-size: 32px;
                                line-height: 32px;

                                color: #313131;

                                margin-bottom: 0;
                            }

                            .right {
                                width: 580px;

                                p.description {
                                    width: 480px;

                                    font-family: 'GraphikLCG-Medium', sans-serif;
                                    font-size: 20px;
                                    line-height: 20px;

                                    color: #313131;
                                    margin-bottom: 0;
                                }

                                svg {
                                    transition: 1s;

                                    circle {
                                        stroke: #313131;
                                    }

                                    path {
                                        fill: #313131;
                                    }
                                }
                            }
                        }

                        &:not(.collapsed) {
                            background-color: #1C54FC;
                            transition: 1s;

                            .content {
                                height: 140px;
                                padding: 0 50px;
                                transition: 1s;

                                h3 {
                                    font-family: 'GraphikLCG-Medium',  sans-serif;
                                    font-size: 32px;
                                    line-height: 32px;

                                    color: #F5F5F5;

                                    margin-bottom: 0;
                                }

                                .right {
                                    width: 580px;

                                    p.description {
                                        font-family: 'GraphikLCG-Medium',  sans-serif;
                                        font-size: 20px;
                                        line-height: 20px;

                                        color: #F5F5F5;
                                        margin-bottom: 0;
                                    }

                                    svg {
                                        transform: rotate(45deg);
                                        transition: 1s;

                                        circle {
                                            stroke: #F5F5F5;
                                        }

                                        path {
                                            fill: #F5F5F5;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .collapsing {
                        transition: 1s;
                    }

                    .accordion-body {
                        margin-top: 40px;
                        padding: 0;

                        .detailed {
                            padding-left: 50px;
                            padding-right: 50px;

                            p.big-txt {
                                width: 50%;
                                font-family: 'GraphikLCG-Medium',  sans-serif;
                                font-size: 32px;
                                line-height: 32px;

                                color: #313131;
                            }

                            ul {
                                width: 50%;

                                li {
                                    font-family: 'GraphikLCG-Regular',  sans-serif;
                                    font-size: 20px;
                                    line-height: 20px;

                                    color: #313131;

                                    margin-bottom: 15px;

                                    &::marker {
                                        color: #1C54FC;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        .form-vacancy {
            padding-top: 70px;
            border-top: 1px solid #666666;
            margin-bottom: 100px;

            .left {
                width: 50%;

                p.big-txt {
                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-size: 60px;
                    line-height: 60px;

                    color: #313131;

                    margin-bottom: 30px;
                }

                p.small-txt {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #313131;

                    margin-bottom: 0;
                }
            }

            .right {
                width: 50%;
                margin-left: 20px;

                .blank {
                    label {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 22px;
                        line-height: 22px;

                        color: #313131;
                    }

                    input {
                        border: none;
                        border-bottom: 3px solid #666666;
                        border-radius: 0;
                        padding: 0;
                        height: 52px;
                        box-shadow: none;
                        margin-bottom: 40px;
                    }

                    textarea {
                        border: none;
                        border-bottom: 3px solid #666666;
                        border-radius: 0;
                        padding: 0;
                        box-shadow: none;

                        min-height: 52px;
                        height: 120px;
                        max-height: 300px;

                        margin-top: 20px;
                        margin-bottom: 40px;
                    }
                }

                .resume {
                    margin-bottom: 50px;

                    label {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 22px;
                        line-height: 22px;

                        color: #313131;

                        margin-bottom: 30px;
                    }
                }

                button {
                    width: 100%;
                    height: 56px;
                    background: #1C54FC;
                    border-radius: 60px;

                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 20px;
                    line-height: 20px;

                    color: #F5F5F5;

                    border: none;

                    margin-bottom: 20px;
                }

                p.agreement {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 15px;
                    line-height: 15px;

                    color: #000000;
                }
            }
        }
    }

}


@media screen and (max-device-width: 992px) {
    .page-vacancy {
        h2.header {
            font-size: 64px;
            line-height: 64px;

            margin-bottom: 30px;
        }

        .small-txt {
            width: 100%;
        }

        .vacancy {
            .vacancies {
                .accordion {
                    .accordion-item {
                        .accordion-button {
                            .content {
                                padding: 25px 15px;
                                height: auto;

                                h3 {
                                    font-size: 24px;
                                    line-height: 24px;
                                    margin-bottom: 27px;
                                }

                                .right {
                                    width: 100%;

                                    p.description {
                                        width: 100%;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 16px;
                                    }
                                }
                            }

                            &:not(.collapsed) {
                                .content {
                                    padding: 25px 15px;
                                    height: auto;

                                    h3 {
                                        font-size: 24px;
                                        line-height: 24px;
                                        margin-bottom: 27px;
                                    }

                                    .right {
                                        width: 100%;

                                        p.description {
                                            width: 100%;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 16px;
                                        }
                                    }
                                }
                            }
                        }

                        .accordion-body {
                            .detailed {
                                padding-left: 15px;
                                padding-right: 15px;

                                p.big-txt {
                                    width: 100%;
                                    font-size: 18px;
                                    line-height: 18px;
                                    margin-bottom: 25px;
                                }

                                ul {
                                    width: 100%;

                                    li {
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .form-vacancy {
                .left {
                    width: 100%;
                    margin-bottom: 50px;

                    p.big-txt {
                        font-size: 30px;
                        line-height: 30px;

                        margin-bottom: 25px;
                    }

                    p.small-txt {
                        font-size: 16px;
                        line-height: 16px;
                    }
                }

                .right {
                    width: 100%;
                    margin-left: 0;

                    .blank {
                        label {
                            font-size: 16px;
                            line-height: 16px;
                        }

                        input {
                            height: 37px;
                            border-bottom: 1px solid #666666;
                        }

                        textarea {
                            border-bottom: 1px solid #666666;
                        }
                    }
                }
            }
        }
    }
}
