.page-web {
    padding-top: 112px;

    .header {
        .left {
            width: 780px;

            .big-txt {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 42px;
                line-height: 42px;

                color: #000000;

                margin-bottom: 35px;
            }

            .small-txt {
                font-family: 'GraphikLCG-Light', sans-serif;
                font-size: 35px;
                line-height: 35px;

                color: #000000;

                margin-bottom: 76px;
            }
        }

        .right {
            a {
                div {
                    width: 180px;
                    height: 180px;
                    background-color: #1C54FC;
                    border: 1px solid #1C54FC;
                    transition: 0.2s;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 50%;

                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 22px;

                    color: #FFFFFF;

                    &:hover {
                        background-color: transparent;
                        border: 1px solid #000000;
                        color: #000000;
                        transition: 0.2s;
                    }

                }
            }
        }
    }

    .plan {
        padding-top: 150px;
        background-color: #313131;
        border-radius: 60px;
        margin-top: 140px;

        .head-txt {
            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 50px;
            line-height: 50px;

            color: #F5F5F5;

            margin-bottom: 75px;
        }

        .stairs {
            .box {
                width: 600px;
                margin-bottom: 120px;

                img {
                    width: 180px;
                    height: 180px;
                }

                .txt-box {
                    margin-left: 40px;

                    .big-txt {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 20px;

                        color: #F5F5F5;

                        margin-bottom: 20px;
                    }

                    .small-txt {
                        font-family: 'GraphikLCG-Light', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 20px;

                        color: #F5F5F5;
                    }
                }
            }
        }

        .how-we-work {
            margin-top: 90px;

            .head-box {
                h2 {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 50px;
                    line-height: 50px;

                    color: #F5F5F5;

                    margin-bottom: 75px;
                }
            }

            .box {
                margin-top: 200px;

                h2 {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 34px;
                    line-height: 34px;
                    text-align: center;

                    color: #F5F5F5;

                    margin-bottom: 75px;

                }

                &:last-child {
                    h2 {
                        margin-bottom: 0;
                    }
                }
            }

            .list {

                .big-txt {
                    width: auto;
                    font-family: 'GraphikLCG-Medium', sans-serif;
                    font-size: 26px;
                    line-height: 26px;

                    color: #1C54FC;

                    span {
                        font-size: 56px;
                        line-height: 56px;

                        color: rgba(28, 84, 252, 0.7);
                    }

                    margin-right: 40px;
                }

                .boxiha {
                    width: 280px;
                    margin-top: 82px;

                    margin-right: 30px;

                    &:last-child {
                        width: 340px;
                    }

                    .main-txt {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 20px;
                        line-height: 20px;

                        color: #F5F5F5;

                        margin-bottom: 30px;

                        position: relative;

                        img {
                            position: absolute;
                            left: -30px;
                        }
                    }

                    .txt {
                        font-family: 'GraphikLCG-Light', sans-serif;
                        font-size: 20px;
                        line-height: 20px;

                        color: #F5F5F5;
                    }
                }
            }

            .pizza {
                div {
                    font-family: 'GraphikLCG-Light', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 20px;

                    color: #F5F5F5;
                }

                .right {
                    width: 25%;
                }

                .center {
                    width: 40%;

                    img {
                        width: 400px;
                        height: 400px;
                    }
                }

                .left {
                    width: 25%;
                }
            }
        }

        .saplya {
            position: relative;
            bottom: -334px;
            width: 1180px;
            height: 728px;
            padding: 82px 100px 148px 100px;
            background: #F2F9FF;
            border-radius: 60px;

            h3 {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 42px;
                line-height: 42px;
                text-align: center;

                color: #313131;
            }

            .steps {
                margin-top: 85px;
                width: 100%;

                .big-txt {
                    width: 28px;
                    display: flex;
                    justify-content: center;

                    font-family: 'MuseoSansCyrl-900', sans-serif;
                    font-size: 34px;
                    line-height: 40px;

                    color: #1C54FC;

                    margin-right: 15px;
                }

                p {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #000000;

                    margin-bottom: 60px;
                }
            }

            .take-plan {
                div {
                    width: 180px;
                    height: 180px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #FFFFFF;

                    background: #1C54FC;
                    border: 1px solid #1C54FC;
                    transition: 0.2s;
                    border-radius: 50%;

                    &:hover {
                        background: transparent;
                        border: 1px solid #000000;
                        color: #000000;
                        transition: 0.2s;
                    }
                }
            }
        }
    }

    .price-uslug {
        background: #313131;
        border-radius: 60px 60px 0 0;
        padding-top: 130px;
        margin-top: 600px;

        h3 {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 50px;
            line-height: 50px;

            color: #F5F5F5;

            margin-bottom: 100px;

            &:last-child {
                margin-top: 130px;
            }
        }

        .uslugi {
            .box {
                width: 580px;
                padding: 60px 50px 67px 60px;
                background: #FFFFFF;
                border-radius: 8px;
                margin-bottom: 60px;

                h4 {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 36px;
                    line-height: 36px;

                    color: #000000;

                    margin-bottom: 0;
                }

                .price {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 36px;
                    line-height: 36px;

                    color: #1C54FC;

                    margin-top: 53px;
                    margin-bottom: 0;
                }

                p {
                    font-family: 'GraphikLCG-Light', sans-serif;
                    font-size: 22px;
                    line-height: 22px;

                    color: #313131;

                    margin-top: 45px;
                    margin-bottom: 0;
                }

                a {
                    div {
                        width: max-content;
                        padding: 17px 40px;
                        margin-top: 45px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-family: 'GraphikLCG-Medium', sans-serif;
                        font-size: 22px;
                        line-height: 22px;

                        color: #1C54FC;

                        border: 3px solid #1C54FC;
                        border-radius: 60px;
                        transition: 0.2s;
                    }

                    &:hover {
                        div {
                            background-color: #1C54FC;
                            color: #FFFFFF;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }

        .free {
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 60px;

            background: #FFFFFF;
            border-radius: 8px;

            margin-bottom: 130px;

            .left {
                width: 50%;

                .big-txt {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 36px;
                    line-height: 36px;

                    color: #000000;

                    margin-bottom: 40px;
                }

                .small-txt {
                    font-family: 'GraphikLCG-Light', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 22px;

                    color: #313131;
                }
            }

            .right {
                width: 50%;

                a {
                    div {
                        width: max-content;
                        padding: 17px 40px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-family: 'GraphikLCG-Medium', sans-serif;
                        font-size: 22px;
                        line-height: 22px;

                        color: #1C54FC;

                        border: 3px solid #1C54FC;
                        border-radius: 60px;
                        transition: 0.2s;
                    }

                    &:hover {
                        div {
                            background-color: #1C54FC;
                            color: #FFFFFF;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }

        .boxiki {
            width: 380px;
            height: 380px;

            background: #FFFFFF;
            border-radius: 8px;
        }

        .line {
            width: 100%;
            height: 10px;
            background: #666666;
            border-radius: 8px;

            margin-top: 140px;
        }

        .kara-shapan {
            position: absolute;
            width: 100%;
            height: 73px;
            background-color: #313131;
        }
    }
}

@media screen and (max-device-width: 992px) {
    .page-web {
        .header {
            .left {
                width: 100%;

                .big-txt {
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 30px;
                }

                .small-txt {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 20px;
                    line-height: 20px;
                    margin-bottom: 25px;
                }
            }

            .right {
                a {
                    div {
                        width: 120px;
                        height: 120px;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }

        .plan {
            margin-top: 80px;
            padding-top: 80px;
            border-radius: 30px;

            .how-we-work {
                .head-box {
                    h2 {
                        font-size: 25px;
                        line-height: 25px;
                        margin-bottom: 70px;
                    }
                }

                .box {
                    margin-top: 80px;

                    h2 {
                        font-size: 20px;
                        line-height: 20px;
                        margin-bottom: 70px;
                    }
                }

                .list {
                    .big-txt {
                        width: 100%;
                        font-size: 26px;
                        line-height: 26px;
                        text-align: center;
                        margin-right: 0;
                        margin-bottom: 0;

                        span {
                            line-height: 0;
                        }
                    }

                    .boxiha {
                        padding-left: 64px;
                        width: 100%;
                        margin-top: 50px;

                        .main-txt {
                            font-size: 18px;
                            line-height: 18px;

                            margin-bottom: 15px;
                        }

                        .txt {
                            font-size: 16px;
                            line-height: 16px;

                            margin-bottom: 0;
                        }
                    }
                }
            }

            .head-txt {
                font-size: 35px;
                line-height: 35px;
                text-align: center;
            }

            .stairs {
                .box {
                    width: 100%;

                    img {
                        width: 102px;
                        height: 102px;
                    }

                    .txt-box {
                        margin-left: 20px;

                        .big-txt {
                            font-size: 18px;
                            line-height: 18px;
                        }

                        .small-txt {
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }

            .saplya {
                width: 100%;
                border-radius: 30px;
                padding: 80px 15px 100px;
                height: auto;
                bottom: -75px;

                h3 {
                    font-size: 25px;
                    line-height: 25px;
                    margin-bottom: 0;
                }

                .steps {
                    margin-top: 30px;

                    .big-txt {
                        font-size: 25px;
                        line-height: 29px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 16px;
                        margin-bottom: 35px;
                    }
                }

                .take-plan {
                    position: absolute;
                    bottom: -60px;
                    right: 20px;

                    div {
                        width: 120px;
                        height: 120px;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }

        .price-uslug {
            background: #313131;
            border-radius: 30px 30px 0 0;
            margin-top: 180px;

            h3 {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 50px;
            }

            .uslugi {
                margin-bottom: 50px;

                .box {
                    width: 100%;
                    padding: 35px 22px;
                    margin-bottom: 20px;

                    h4 {
                        font-family: 'GraphikLCG-Regular', sans-serif;
                        font-size: 20px;
                        line-height: 20px;
                    }

                    .price {
                        margin-top: 15px;
                        font-size: 20px;
                        line-height: 20px;
                    }

                    p {
                        margin-top: 25px;
                        font-size: 16px;
                        line-height: 16px;
                    }

                    a {
                        div {
                            padding: 15px 0;
                            margin-top: 30px;
                            width: 100%;

                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }

            .free {
                padding: 35px 21px 30px 23px;

                .left {
                    width: 100%;

                    .big-txt {
                        font-size: 20px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }

                    .small-txt {
                        font-size: 16px;
                        line-height: 16px;
                        margin-bottom: 30px;
                    }
                }

                .right {
                    width: 100%;

                    a {
                        width: 100%;

                        div {
                            padding: 15px 0;
                            width: 100%;

                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }

            .boxiki {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}
