.page-case {

    .header {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        padding-bottom: 234px;

        h1 {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 42px;
            line-height: 42px;

            color: #F5F5F5;

            margin-top: 142px;
            margin-bottom: 0;
        }
    }

    .case-content {

        background-color: #FFFFFF;

        width: 100%;

        margin-top: -60px;
        padding-top: 150px;

        border-top-left-radius: 60px;
        border-top-right-radius: 60px;

        p {
            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 20px;
            line-height: 120%;

            letter-spacing: 0.03em;

            color: #313131;

            margin-bottom: 0;
        }

        .text-1 {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 42px;
            line-height: 42px;

            color: #313131;

            margin-bottom: 80px;
        }

        .text-2 {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;

            color: #313131;

            margin-bottom: 25px;
        }

        .top {
            margin-bottom: 88px;

            .left {
                width: 45%;
            }

            .right {
                width: 50%;
            }
        }

        .center {
            margin-bottom: 80px;

            .left {
                width: 50%;
            }

            .right {
                width: 50%;

                ul {
                    font-family: 'GraphikLCG-Regular', sans-serif;
                    font-size: 20px;
                    line-height: 120%;

                    letter-spacing: 0.03em;

                    color: #313131;

                    margin-bottom: 0;

                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .bottom {
            width: 50%;
            margin-bottom: 100px;

            p {
                margin-bottom: 15px;
            }

            .text-2 {
                margin-bottom: 50px;
            }

            .left {
                width: 50%;
            }

            .right {
                width: 50%;
            }
        }

        .media {
            .story {
                margin-top: 25px;
                margin-bottom: 80px;

                img {
                    width: 380px;
                    height: fit-content;
                    height: intrinsic;
                    margin-top: 20px;
                    margin-right: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }

            .post {
                margin-top: 25px;
                margin-bottom: 80px;

                img {
                    width: 380px;
                    height: fit-content;
                    height: intrinsic;
                    margin-top: 20px;
                    margin-right: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }

            .video {
                margin-top: 25px;
                margin-bottom: 100px;

                video {
                    width: 380px;
                    height: fit-content;
                    height: intrinsic;
                    margin-top: 20px;
                    margin-right: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .form {
        background: #FFFFFF;
        padding-bottom: 130px;

        .text-1 {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 42px;
            line-height: 42px;

            color: #313131;

            margin-bottom: 50px;

        }

        .left {
            width: 580px;
            font-family: 'GraphikLCG-Regular', sans-serif;
            font-size: 20px;
            line-height: 120%;

            letter-spacing: 0.03em;

            color: #313131;

            ul {
                margin-top: 15px;
            }
        }

        .right {
            width: 580px;

            label {
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 20px;
            }

            input {
                border-radius: 0;
                border: none;
                border-bottom: 3px solid #666666;
                margin-bottom: 40px;
                box-shadow: none;
                padding-left: 0;
            }

            textarea {
                border-radius: 0;
                border: none;
                border-bottom: 3px solid #666666;
                margin-bottom: 40px;
                box-shadow: none;
                padding-left: 0;
                max-height: 200px;
                padding-top: 0;
            }

            button {
                width: 280px;
                height: 56px;

                margin-top: 10px;
                margin-bottom: 20px;

                background: #1C54FC;
                border-radius: 60px;

                border: none;

                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 20px;
                line-height: 20px;

                color: #F5F5F5;
            }

            small {
                font-size: 15px;
                line-height: 15px;

                color: #000000;
            }
        }
    }

    .more-cases {
        padding-top: 130px;

        border-top-left-radius: 60px;
        border-top-right-radius: 60px;

        background: #313131;

        .big-txt {
            font-family: 'GraphikLCG-Medium', sans-serif;
            font-size: 50px;
            line-height: 50px;

            color: #F5F5F5;

            margin-bottom: 100px;
        }

        .boxiki {
            width: 380px;
            height: 380px;

            background: #FFFFFF;
            border-radius: 8px;
        }

        .line {
            width: 100%;
            height: 10px;
            background: #666666;
            border-radius: 8px;

            margin-top: 140px;
        }
    }

    .kara-shapan {
        position: absolute;
        width: 100%;
        height: 73px;
        background-color: #313131;
    }
}

@media screen and (max-device-width: 992px) {
    .page-case {
        .header {
            background-size: auto 100%;
            background-position: center;

            h1 {
                font-size: 28px;
                line-height: 28px;
            }
        }

        .case-content {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding-top: 80px;

            p {
                font-family: 'GraphikLCG-Light', sans-serif;
                font-size: 16px;
                line-height: 16px;
            }

            .text-1 {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 0;
            }

            .text-2 {
                font-family: 'GraphikLCG-Regular', sans-serif;
                font-size: 18px;
                line-height: 18px;
                margin-top: 40px;
                margin-bottom: 15px;
            }

            .top {
                .left {
                    width: 100%;
                }

                .right {
                    width: 100%;
                }
            }

            .center {
                .text-1 {
                    margin-bottom: 15px;
                }

                .left {
                    width: 100%;
                }

                .right {
                    width: 100%;
                }
            }

            .bottom {
                width: 100%;
                margin-bottom: 50px;

                .text-2 {
                    margin-top: 0;
                    margin-bottom: 30px;
                }

                .left {
                    width: 100%;
                }

                .right {
                    width: 100%;
                }
            }

            .media {
                .text-1 {
                    margin-bottom: 15px;
                }

                .story {
                    margin-top: 22px;
                    margin-bottom: 30px;

                    img {
                        margin-top: 15px;
                        margin-right: 0;
                        width: 100%;
                    }
                }

                .post {
                    margin-top: 15px;
                    margin-bottom: 30px;

                    img {
                        margin-top: 15px;
                        margin-right: 0;
                        width: 100%;
                    }
                }

                .video {
                    margin-top: 15px;
                    margin-bottom: 80px;

                    video {
                        margin-top: 15px;
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }

        .form {
            padding-bottom: 70px;

            .text-1 {
                font-family: 'GraphikLCG-Medium', sans-serif;
                font-size: 30px;
                line-height: 30px;

                color: #313131;

                margin-bottom: 30px;
            }

            .left {
                width: 100%;

                font-size: 16px;
                line-height: 16px;

                margin-bottom: 30px;
            }

            .right {
                width: 100%;

                label {
                    font-size: 16px;
                    line-height: 16px;
                    margin-bottom: 10px;
                }

                input {
                    border-bottom: 1px solid #666666;
                }

                textarea {
                    border-bottom: 1px solid #666666;
                }

                button {
                    width: 100%;
                }
            }
        }

        .more-cases {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding-top: 80px;

            .big-txt {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 50px;
            }

            .boxiki {
                width: 100%;
                margin-bottom: 20px;
            }

            .line {
                margin-top: 120px;
            }
        }
    }
}
